{{ collection:faq as="faqs" }}
    <main id="has-posts" class="faq blog-category blog-post article-page">
        <header  >
            <h1 class="reveal-left">{{ title }}</h1>
        </header>

        <section id="info" class="wide">
            <article>
                <div id="article">
                    <div class="content">
                        {{ content }}
                    </div>
                </div>

                <div id="filters">
                    <h3>TOPICS:</h3>
        
                    <div class="flex">
                        <button id="post" class="shimmer filter-btn active">Show all</button>
                        {{ taxonomy from="faq_categories" }}
                            <button id="{{ slug }}" class="shimmer filter-btn">{{ title }}</button>
                        {{ /taxonomy }}
                    </div>
                </div>

                <div class="posts-container">
                    {{ faqs }}
                        <div class="post accordion-container{{ faq_categories }} {{ slug }}{{ /faq_categories }}">
                            <div class="accordion">
                                <p>Q. {{ title }}</p>
                                <svg id="180deg" xmlns="http://www.w3.org/2000/svg" width="24" height="14.83" viewBox="0 0 24 14.83">
                                    <g id="ic_keyboard_arrow_right_48px" transform="translate(35.75 -17.17) rotate(90)">
                                      <path id="Path_159" data-name="Path 159" d="M17.17,32.92l9.17-9.17-9.17-9.17L20,11.75l12,12-12,12Z" fill="#111"/>
                                    </g>
                                </svg>                                                                                                  
                
                                <div class="panel">
                                    {{ answer }}

                                    <picture>
                                        <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                                    
                                        <img src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    {{ /faqs }}
                </div>
            </article>
    
            <aside>
                <div class="favourite">
                    <h3 class="reveal-right">Crowd Favourite</h3>
    
                    {{ header:featured_ride }}
                        <div class="img-container">
                            <picture>
                                <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                            
                                <img src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                            </picture>
                        </div>
    
                        <div>
                            <h1 class="reveal-left">{{ button_text }}</h1>
                            <h3 class="reveal-right subtitle">{{ subtitle }}</h3>
    
                            <div class="button"> 
                                <a href="{{ button_link }}" class="inner-btn animated-button">MORE INFO</a> 
                            </div>
                        </div>
                    {{ /header:featured_ride }}
                </div>
    
                <div class="sticky">
                    {{ if events:our_events }}
                        <div class="event reveal-bottom">
                            {{ events:our_events }}
                                <h3>{{ title }}</h3>
                                <p>{{ info }}</p>
                                <a href="{{ button_link }}" class="button"> 
                                    <button id="link-to-events-page" class="shimmer">{{ button_text }}</button> 
                                </a>
                            {{ /events:our_events }}
                        </div>
                    {{ endif }}
                </div>
            </aside>
        </section>
    </main>
{{ /collection:faq }}