<main class="home">
    <header  >
        {{ hero }}
            <div class="red">
                <h1 class="reveal-left">{{ title }}</h1>
            </div>

            <div class="video" {{ if !video}}style="background-image: url('{{ image }}');{{ endif }}">
                {{ if video }}
                    <video id="vid" src="{{ video }}" playsinline muted autoplay loop>
                        <source src="{{ video }}" type="video/mp4">
                        Your browser does not support the HTML5 Video element.
                    </video>
                {{ endif }}
            </div>
        {{ /hero }}
    </header>

    {{ partial:partials/who }}

    <section id="what">
        {{ what }}
            <h2 class="reveal-left">{{ title }}</h2>

            <div id="services">
                {{ services }}
                    <div class="service">
                        <picture>
                            <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                        
                            <img loading="lazy" src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                        </picture>

                        <div>
                            <h3 class="reveal-right">{{ subtitle }}</h3>

                            <hr class="grow">

                            <p>{{ content }}</p>
                        </div>
                    </div>
                {{ /services }}
            </div>
        {{ /what }}
    </section>

    {{ partial:partials/img-card }}

    {{ partial:partials/rides-slider }}

    <section id="map">
        {{ map }}
            <div class="top">
                <picture>
                    <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                
                    <img loading="lazy" src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                </picture>
            </div>

            <div class="bottom">
                <h2 class="reveal-bottom">{{ title }}</h2>

                {{ where }}
                    <h3>{{ info }}</h3>
                {{ /where }}
            </div>
        {{ /map }}
    </section>

    {{ partial:partials/partners }}
</main>