<header role="header">
    <nav id="nav">
        <div class="inner-nav">
            <a href="/" class="logo">
                <picture>
                    <source srcset="{{ glide:details:logo width='100px' format='webp' quality='100' }}" type="image/webp">
                
                    <img id="nav-logo" src="{{ glide:details:logo width='100px' format='webp' quality='100' }}" alt="{{details:logo:alt}}">
                </picture>
            </a>
    
            <div class="desktop-nav">
                <div id="top-nav" class="top">
                    <div class="socials">
                        <a href="{{ details:facebook_link }}">
                            <svg id="Component_23_1" data-name="Component 23 – 1" xmlns="http://www.w3.org/2000/svg" width="29.601" height="29.601" viewBox="0 0 29.601 29.601">
                                <rect class="bg" id="Rectangle_197" data-name="Rectangle 197" width="29.601" height="29.601" rx="7.915" fill="#eaeaea"/>
                                <path class="inr" id="Path_135" data-name="Path 135" d="M288.505,244.2h-2.542v9.062H282.2V244.2h-1.791V241H282.2v-2.071a3.532,3.532,0,0,1,3.8-3.8l2.79.01v3.108h-2.026a.766.766,0,0,0-.8.872V241h2.87Z" transform="translate(-269.82 -229.262)" fill="#646464"/>
                            </svg>                              
                        </a>
                        
                        <a href="{{ details:linkedin_link }}">
                            <svg id="Component_22_1" data-name="Component 22 – 1" xmlns="http://www.w3.org/2000/svg" width="28.488" height="28.488" viewBox="0 0 28.488 28.488">
                                <rect class="bg" id="Rectangle_172" data-name="Rectangle 172" width="28.488" height="28.488" rx="7.915" fill="#eaeaea"/>
                                <rect class="inr" id="Rectangle_173" data-name="Rectangle 173" width="2.969" height="9.607" transform="translate(7.672 11.422)" fill="#646464"/>
                                <path class="inr" id="Path_39" data-name="Path 39" d="M405.687,241.223h-.018a1.549,1.549,0,1,1,.018,0Z" transform="translate(-396.584 -231.691)" fill="#646464"/>
                                <path class="inr" id="Path_40" data-name="Path 40" d="M431.389,264.261H428.4v-5.474a1.859,1.859,0,0,0-3.59-.795,2.229,2.229,0,0,0-.107.795v5.474h-2.985s.043-8.746,0-9.665H424.7l-.021,1.285a3.245,3.245,0,0,1,2.958-1.651c2.144,0,3.751,1.4,3.751,4.411Z" transform="translate(-409.217 -243.23)" fill="#646464"/>
                            </svg>                              
                        </a>

                        <a href="{{ details:twitter_link }}">
                            <svg id="Component_21_1" data-name="Component 21 – 1" xmlns="http://www.w3.org/2000/svg" width="28.488" height="28.488" viewBox="0 0 28.488 28.488">
                                <g id="Component_15_5" data-name="Component 15 – 5">
                                  <rect class="bg" id="Rectangle_174" data-name="Rectangle 174" width="28.488" height="28.488" rx="7.915" fill="#eaeaea"/>
                                </g>
                                <path class="inr" id="Path_41" data-name="Path 41" d="M551.326,243.191a8.033,8.033,0,0,1-.839.932c-.67.666-.706.738-.706,1.3a12.478,12.478,0,0,1-.814,3.631,10.523,10.523,0,0,1-3.988,4.7,10.107,10.107,0,0,1-7.855.9,9.179,9.179,0,0,1-2.311-1.066,3.534,3.534,0,0,1,.983-.1,6.7,6.7,0,0,0,3.21-.895l.646-.388-.743-.254a3.621,3.621,0,0,1-2.239-1.986c-.073-.255-.048-.267.622-.267l.7-.01-.587-.279a3.871,3.871,0,0,1-1.64-1.55,4.342,4.342,0,0,1-.431-1.623,1.392,1.392,0,0,1,.563.133c.826.3.934.23.455-.279a3.5,3.5,0,0,1-.743-3.584l.2-.581.791.787a9.738,9.738,0,0,0,5.7,2.808l.6.072-.036-.593a3.468,3.468,0,0,1,2.335-3.486,4.089,4.089,0,0,1,2.1-.049,4.89,4.89,0,0,1,1.017.533l.586.4.646-.206a6.528,6.528,0,0,0,1.054-.412c.2-.108.383-.168.383-.133a3.533,3.533,0,0,1-.814,1.3c-.5.545-.36.593.658.23C551.434,242.961,551.447,242.961,551.326,243.191Z" transform="translate(-528.91 -233.959)" fill="#646464"/>
                            </svg>                              
                        </a>
                    </div>

                    <p>Talk to us today!</p>

                    <a href="/contact" class="shimmer">CONTACT US</a>
                </div>
    
                <div class="bottom">
                    {{ nav handle="main_navigation" }}
                        <li class="nav-link">
                            <a {{ if url }}href="{{ url }}"{{ endif }}>{{ title }}{{ if children }}<p>+</p>{{ endif }}</a>
        
                            {{ if children }}
                                {{ if title == 'RIDES & ATTRACTIONS' }}
                                    <ul class="dropdown rides">
                                        <div class="left">
                                            {{ header:featured_ride }}
                                                <div class="img-container">
                                                    <picture>
                                                        <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                                                    
                                                        <img src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                                                    </picture>
                                                </div>

                                                <div class="button"> 
                                                    <a href="{{ button_link }}" class="inner-btn animated-button">{{ button_text }}</a> 
                                                </div>
                                            {{ /header:featured_ride }}
                                        </div>

                                        <div class="right">
                                            {{ *recursive children* }}
                                        </div>
                                    </ul>
                                {{ else }}
                                    <ul class="dropdown">{{ *recursive children* }}</ul>
                                {{ endif }}
                            {{ endif }}
                        </li>
                    {{ /nav }}
                </div>
            </div>
    
            <div class="mob-nav">
                <a class="phone" href="tel:{{details:phone_number}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39.3" height="39.3" viewBox="0 0 39.3 39.3">
                        <g id="Group_155" data-name="Group 155" transform="translate(-237 -104.23)">
                            <g id="ic_local_phone_48px" transform="translate(237 104.23)">
                            <path id="Path_154" data-name="Path 154" d="M13.915,23.019A32.881,32.881,0,0,0,28.3,37.4l4.8-4.814a2.19,2.19,0,0,1,2.216-.535,24.854,24.854,0,0,0,7.794,1.244A2.176,2.176,0,0,1,45.3,35.475v7.642A2.176,2.176,0,0,1,43.116,45.3,37.113,37.113,0,0,1,6,8.183,2.183,2.183,0,0,1,8.183,6h7.642a2.176,2.176,0,0,1,2.183,2.183,24.854,24.854,0,0,0,1.244,7.794,2.19,2.19,0,0,1-.535,2.216Z" transform="translate(-6 -6)" fill="#e50331"/>
                            </g>
                        </g>
                    </svg>                                      
                </a>
    
                <div class="burger">
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="mob-menu">
            {{ nav handle="main_navigation" }}
                <div class="accordion-container">
                    <li class="mob-menu-accordion" {{ if !children }}onclick="window.location.href='{{url}}'"{{ endif }}>
                        {{ if children }}<div class="menu-parent">{{ endif }}
                        {{ title }}
        
                        {{ if children }}
                                <p>+</p>
                            </div>

                            <ul id="{{title}}-dropdown" class="panel dropdown {{title}}">{{ *recursive children* }}</ul>
                        {{ /if }}
                    </li>
                </div>
            {{ /nav }}
    
            <div class="contact" onclick="window.location.href='/contact'">
                <li>CONTACT</li>
            </div>
    
            <div class="socials">
                <a href="{{ details:facebook_link }}">
                    <svg id="Group_152" data-name="Group 152" xmlns="http://www.w3.org/2000/svg" width="41.356" height="41.356" viewBox="0 0 41.356 41.356">
                        <rect class="bg" id="Rectangle_197" data-name="Rectangle 197" width="41.356" height="41.356" rx="7.915" transform="translate(0 0)" fill="#eaeaea"/>
                        <path id="Path_135" data-name="Path 135" d="M291.722,247.8H288.17v12.66h-5.263V247.8h-2.5V243.33h2.5v-2.894c0-2.072.985-5.311,5.311-5.311l3.9.015v4.343h-2.831a1.071,1.071,0,0,0-1.115,1.219v2.629h4.01Z" transform="translate(-265.615 -226.934)" fill="#646464"/>
                    </svg>                      
                </a>
                <a href="{{ details:linkedin_link }}">
                    <svg id="Component_14_12" data-name="Component 14 – 12" xmlns="http://www.w3.org/2000/svg" width="39.801" height="39.801" viewBox="0 0 39.801 39.801">
                        <rect class="bg" id="Rectangle_172" data-name="Rectangle 172" width="39.801" height="39.801" rx="7.915" fill="#eaeaea"/>
                        <rect id="Rectangle_173" data-name="Rectangle 173" width="4.149" height="13.423" transform="translate(10.72 15.958)" fill="#646464"/>
                        <path id="Path_39" data-name="Path 39" d="M406.291,242.426h-.025a2.163,2.163,0,1,1,.025,0Z" transform="translate(-393.574 -229.109)" fill="#646464"/>
                        <path id="Path_40" data-name="Path 40" d="M435.23,268.245h-4.176V260.6a2.6,2.6,0,0,0-5.016-1.11,3.114,3.114,0,0,0-.15,1.11v7.647h-4.17s.06-12.219,0-13.5h4.169l-.03,1.8a4.533,4.533,0,0,1,4.132-2.307c3,0,5.24,1.957,5.24,6.163Z" transform="translate(-404.251 -238.864)" fill="#646464"/>
                    </svg>                      
                </a>
                <a href="{{ details:twitter_link }}">
                    <svg id="Group_99" data-name="Group 99" xmlns="http://www.w3.org/2000/svg" width="39.801" height="39.801" viewBox="0 0 39.801 39.801">
                        <g id="Component_15_12" data-name="Component 15 – 12">
                          <rect class="bg" id="Rectangle_174" data-name="Rectangle 174" width="39.801" height="39.801" rx="7.915" fill="#eaeaea"/>
                        </g>
                        <path id="Path_41" data-name="Path 41" d="M557.884,243.924a11.215,11.215,0,0,1-1.172,1.3c-.936.93-.986,1.031-.986,1.81a17.433,17.433,0,0,1-1.138,5.073,14.7,14.7,0,0,1-5.572,6.565,14.12,14.12,0,0,1-10.975,1.252,12.825,12.825,0,0,1-3.228-1.489,4.935,4.935,0,0,1,1.373-.136,9.364,9.364,0,0,0,4.484-1.25l.9-.542-1.038-.355a5.059,5.059,0,0,1-3.128-2.775c-.1-.356-.067-.373.869-.373l.972-.014-.821-.389a5.409,5.409,0,0,1-2.292-2.166,6.068,6.068,0,0,1-.6-2.267,1.946,1.946,0,0,1,.786.185c1.153.422,1.3.321.635-.389a4.889,4.889,0,0,1-1.038-5.007l.283-.812,1.1,1.1a13.605,13.605,0,0,0,7.964,3.924l.836.1-.05-.828a4.845,4.845,0,0,1,3.263-4.871,5.713,5.713,0,0,1,2.93-.069,6.829,6.829,0,0,1,1.421.745l.819.56.9-.288a9.12,9.12,0,0,0,1.473-.575c.284-.151.535-.235.535-.185a4.936,4.936,0,0,1-1.137,1.81c-.7.761-.5.828.919.321C558.034,243.6,558.052,243.6,557.884,243.924Z" transform="translate(-525.169 -231.027)" fill="#646464"/>
                    </svg>                      
                </a>
            </div>
    
            <p class="copyright">{{ details:copyright_info }}</p>
        </div>
    </nav>
</header>