<div class="enquiry-form reveal-bottom">
    <h3>{{ enquiry_form:title }}</h3>
    {{ enquiry_form:content }}

    {{ form:enquiry id="enquiry-form" redirect="/thank-you" }}
        <label>
            <p>Name*</p>
            <input type="text" name="name" required>
        </label>

        <label>
            <p>Email Address*</p>
            <input type="email" name="email" required>
        </label>

        <label>
            <p>Phone</p>
            <input type="text" name="phone">
        </label>

        <label id="rides-container">
            <p>Which Rides & Attractions are you interested in?</p>
            <select name="rides" class="ride-select">
                {{ taxonomy from="rides" }}
                    <option value="{{ slug }}">{{ title }}</option>
                {{ /taxonomy }}
            </select>
        </label>

        <input id="main-ride-select" name="rides" type="text" hidden>
        <p id="add-ride">+ Add another Ride</p>

        <label>
            <p>Message*</p>
            <textarea name="message" required></textarea>
        </label>

        <input name="city" type="text" hidden>

        {{ policy:form_privacy_policy }}

        {{ captcha }}

        <button class="shimmer" type="submit">SUBMIT</button>

        <script>
            const addRide = document.getElementById('add-ride');
        
            if (addRide) {
                addRide.addEventListener('click', () => {
                    $("#rides-container").append(`
                        <select name="rides" class="ride-select">
                            {{ taxonomy from="rides" }}
                                <option value="{{ slug }}">{{ title }}</option>
                            {{ /taxonomy }}
                        </select>
                    `);
                });
            };
        </script>
    {{ /form:enquiry }}
</div>