<div class="enquiry-form reveal-bottom">
    <h3>{{ enquiry_form:title }}</h3>
    {{ enquiry_form:content }}

    {{ form:enquiry id="enquiry-form" redirect="/thank-you" }}
        <label>
            <p>Name*</p>
            <input type="text" name="name" required>
        </label>

        <label>
            <p>Email Address*</p>
            <input type="email" name="email" required>
        </label>

        <label>
            <p>Phone</p>
            <input type="text" name="phone">
        </label>

        {{ if slug == "food-and-drink" }}    
            <label id="vendors-container">
                <p>Which Vendors are you interested in?</p>
                <select name="vendors" class="vendor-select">
                    {{ taxonomy from="vendors" }}
                        <option value="{{ slug }}">{{ title }}</option>
                    {{ /taxonomy }}
                </select>
            </label>

            <input id="main-vendor-select" name="vendors" type="text" hidden>
            <p id="add-vendor" style="margin: 5px 0 30px; cursor: pointer;">+ Add another Vendor</p>
        {{ else }}
            <label id="rides-container">
                <p>Which Rides & Attractions are you interested in?</p>
                <select name="rides" class="ride-select">
                    {{ taxonomy from="rides" }}
                        <option value="{{ slug }}">{{ title }}</option>
                    {{ /taxonomy }}
                </select>
            </label>

            <input id="main-ride-select" name="rides" type="text" hidden>
            <p id="add-ride">+ Add another Ride</p>
        {{ endif }}

        <label>
            <p>Message*</p>
            <textarea name="message" required></textarea>
        </label>

        <input name="city" type="text" hidden>

        {{ policy:form_privacy_policy }}

        {{ captcha }}

        <button id="submit-form" class="shimmer" type="submit">SUBMIT</button>

        <script>
            const addRide = document.getElementById('add-ride');
        
            if (addRide) {
                addRide.addEventListener('click', () => {
                    $("#rides-container").append(`
                        <select name="rides" class="ride-select">
                            {{ taxonomy from="rides" }}
                                <option value="{{ slug }}">{{ title }}</option>
                            {{ /taxonomy }}
                        </select>
                    `);
                });
            };

            const addVendor = document.getElementById('add-vendor');
        
            if (addVendor) {
                addVendor.addEventListener('click', () => {
                    $("#vendors-container").append(`
                        <select name="vendors" class="vendor-select">
                            {{ taxonomy from="vendors" }}
                                <option value="{{ slug }}">{{ title }}</option>
                            {{ /taxonomy }}
                        </select>
                    `);
                });
            };
        </script>
    {{ /form:enquiry }}
</div>