<section id="partners">
    {{ who_we_have_worked_with:partners }}
        <div class="title">
            <h3 class="reveal-left">{{ title }}</h3>
            <div class="content">
                {{ content }}
            </div>
        </div>

        <div class="top">
            <div class="carousel-container">
                <div class="owl-carousel dots" data-has-margin="50" data-slides-mobile="1" data-slides-portrait-tablet="1" 
                                            data-slides-landscape-tablet="2" data-slides-laptop="1" data-slides-desktop="1">
                    {{ collection:testimonials }}
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="62.3" height="50.644" viewBox="0 0 62.3 50.644">
                                    <g id="Group_23" data-name="Group 23" transform="translate(-1380.711 -665.049)">
                                        <path id="Path_127" data-name="Path 127" d="M1384.127,709.262A24.392,24.392,0,0,1,1380.711,696a32.949,32.949,0,0,1,5.124-18.088q5.126-8.035,15.576-12.861l1.808,3.617a27.185,27.185,0,0,0-10.751,8.24q-4.523,5.628-4.522,11.456a13.355,13.355,0,0,0,.6,4.22,11.461,11.461,0,0,1,7.436-2.612,12.811,12.811,0,0,1,9.143,3.516,12.262,12.262,0,0,1,3.719,9.345,12.7,12.7,0,0,1-12.862,12.862A13.1,13.1,0,0,1,1384.127,709.262Zm34.165,0A24.39,24.39,0,0,1,1414.875,696,32.939,32.939,0,0,1,1420,677.91q5.124-8.035,15.574-12.861l1.809,3.617a27.188,27.188,0,0,0-10.753,8.24q-4.521,5.628-4.521,11.456a13.362,13.362,0,0,0,.6,4.22,11.459,11.459,0,0,1,7.437-2.612,12.811,12.811,0,0,1,9.143,3.516,12.267,12.267,0,0,1,3.718,9.345,12.7,12.7,0,0,1-12.861,12.862A13.1,13.1,0,0,1,1418.292,709.262Z" transform="translate(0 0)" fill="#d3d3d3"/>
                                    </g>
                                </svg>
                                
                                {{ testimonial }}
                                <p class="name"><span>{{ client_name }}</span></p>
                            </div>
                    {{ /collection:testimonials }}
                </div>
            </div>
        </div>

        <div class="bottom">
            {{ partner_images }}
                <picture>
                    <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                
                    <img loading="lazy" src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                </picture>
            {{ /partner_images }}
        </div>
    {{ /who_we_have_worked_with:partners }}
</section>