<section id="upcoming-events">
    <h2>Upcoming Events</h2>

    <div class="carousel-container">
        <div class="owl-carousel" data-has-margin="50" data-slides-mobile="1" data-slides-portrait-tablet="1" 
                                    data-slides-landscape-tablet="2" data-slides-laptop="2" data-slides-desktop="1">
            {{ collection:events limit="3" }}
                <div onclick="window.location.href = '{{ slug }}'">
                    <div class="img-container">
                        <picture>
                            <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                        
                            <img loading="lazy" src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                        </picture>
                    </div>
    
                    <h3>{{ title }}</h3>
    
                    <div class="details">
                        <p><span>When:</span> {{ date }}</p>
                        <p><span>Where:</span> {{ venue }}</p>
                    </div>
    
                    <div class="button"> 
                        <a href="{{ slug }}" class="inner-btn animated-button">SEE MORE</a> 
                    </div>
                </div>
            {{ /collection:events }}
        </div>

        <div class="owl-custom-nav">
            <div class="owl-nav-custom prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="100" viewBox="0 0 44 100">
                    <g id="Group_24" data-name="Group 24" transform="translate(-70 -3216)">
                    <g id="Rectangle_36" data-name="Rectangle 36" transform="translate(70 3216)" fill="#f1f1f1" stroke="#bebebe" stroke-width="2">
                        <rect width="44" height="100" stroke="none"/>
                        <rect x="1" y="1" width="42" height="98" fill="none"/>
                    </g>
                    <path id="Path_126" data-name="Path 126" d="M720.632,755.3l8.6,8.667,8.6,8.667h-34.4l8.6-8.667Z" transform="translate(-673.631 3986.632) rotate(-90)" fill="#b3b3b3"/>
                    </g>
                </svg>                                                  
            </div>
    
            <div class="owl-nav-custom next">
                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="100" viewBox="0 0 44 100">
                    <g id="Group_158" data-name="Group 158" transform="translate(114 3316) rotate(180)">
                    <g id="Rectangle_36" data-name="Rectangle 36" transform="translate(70 3216)" fill="#f1f1f1" stroke="#bebebe" stroke-width="2">
                        <rect width="44" height="100" stroke="none"/>
                        <rect x="1" y="1" width="42" height="98" fill="none"/>
                    </g>
                    <path id="Path_126" data-name="Path 126" d="M720.632,755.3l8.6,8.667,8.6,8.667h-34.4l8.6-8.667Z" transform="translate(-673.631 3986.632) rotate(-90)" fill="#b3b3b3"/>
                    </g>
                </svg>                                                  
            </div>
        </div>
    </div>
</section>