{{ collection:events as="posts" }}
    <main id="has-posts" class="blog-category event-category">
        <header  >
            <h1 class="reveal-left">{{ title }}</h1>
        </header>

        <div class="content">
            {{ content }}
        </div>

        <div id="filters">
            <h3>EVENT CATEGORIES:</h3>

            <div class="flex">
                <button id="post" class="shimmer filter-btn active">Show all</button>
                {{ taxonomy from="event_categories" }}
                    <button id="{{ slug }}" class="shimmer filter-btn">{{ title }}</button>
                {{ /taxonomy }}
            </div>
        </div>

        <div class="posts-wrapper">
            <div class="blog-posts-container posts-container" data-has-posts="9">
                {{ posts }}
                    <div class="blog-post post{{ event_categories }} {{ slug }}{{ /event_categories }}" onclick="window.location.href = '/whats-on/{{ slug }}'">
                        <div class="img-container img-container-shimmer">
                            <figure>
                                <picture>
                                    <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                                
                                    <img loading="lazy" src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                                </picture>
                            </figure>
                        </div>
        
                        <h3>{{ title }}</h3>
        
                        <div class="details">
                            <p><span>When:</span> {{ post_date }}</p>
                            <p><span>Where:</span> {{ venue }}</p>
                        </div>
        
                        <div class="button"> 
                            <a href="/whats-on/{{ slug }}" class="inner-btn animated-button">GO TO</a> 
                        </div>
                    </div>
                {{ /posts }}
            </div>
        </div>

        {{ partial:partials/pagination }}
    </main>
{{ /collection:events }}