<main class="blog-post article-page event-post">

    <section id="info" class="wide">
        <article>
            <div id="article">
                <div class="title">
                    <a href="/whats-on"><p>< Back to Whats On?</p></a>
                    <h1 class="reveal-left">{{ title }}</h1>
                    {{ event_categories }}
                        <p class="reveal-right category"><em>{{ title }}</em></p>
                    {{ /event_categories }}
                    <div class="details">
                        {{ if event_date:end != event_date:start }}
                            <p class="reveal-right"><span>When:</span>{{ event_date:start }} - {{ event_date:end }}</p>
                        {{ else }}
                            <p class="reveal-right"><span>When:</span>{{ event_date:start }}</p>
                        {{ endif }}
                        <p class="reveal-right date"><span>Where:</span> {{ venue }}</p>
                    </div>
                </div>

                <picture>
                    <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                
                    <img class="reveal-left" loading="lazy" src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                </picture>

                {{ article }}
                    {{ content }}
                {{ /article }}

                {{ cta }}
                    <div class="cta">
                        <h1>{{ text }}</h1>
                        <div class="button"> 
                            <a href="{{ button_link }}" class="inner-btn animated-button">{{ button_text }}</a> 
                        </div>
                    </div>
                {{ /cta }}

                <div class="share flex">
                    <p>Share this page?</p>                                
    
                    <div class="socials">
                        <a href="{{ details:facebook_link }}" target="_blank">
                            <svg id="Group_152" data-name="Group 152" xmlns="http://www.w3.org/2000/svg" width="41.356" height="41.356" viewBox="0 0 41.356 41.356">
                                <rect class="bg" id="Rectangle_197" data-name="Rectangle 197" width="41.356" height="41.356" rx="7.915" transform="translate(0 0)" fill="#eaeaea"/>
                                <path class="inr" id="Path_135" data-name="Path 135" d="M291.722,247.8H288.17v12.66h-5.263V247.8h-2.5V243.33h2.5v-2.894c0-2.072.985-5.311,5.311-5.311l3.9.015v4.343h-2.831a1.071,1.071,0,0,0-1.115,1.219v2.629h4.01Z" transform="translate(-265.615 -226.934)" fill="#646464"/>
                            </svg>                      
                        </a>
                        <a href="{{ details:linkedin_link }}" target="_blank">
                            <svg id="Component_14_12" data-name="Component 14 – 12" xmlns="http://www.w3.org/2000/svg" width="39.801" height="39.801" viewBox="0 0 39.801 39.801">
                                <rect class="bg" id="Rectangle_172" data-name="Rectangle 172" width="39.801" height="39.801" rx="7.915" fill="#eaeaea"/>
                                <rect class="inr" id="Rectangle_173" data-name="Rectangle 173" width="4.149" height="13.423" transform="translate(10.72 15.958)" fill="#646464"/>
                                <path class="inr" id="Path_39" data-name="Path 39" d="M406.291,242.426h-.025a2.163,2.163,0,1,1,.025,0Z" transform="translate(-393.574 -229.109)" fill="#646464"/>
                                <path class="inr" id="Path_40" data-name="Path 40" d="M435.23,268.245h-4.176V260.6a2.6,2.6,0,0,0-5.016-1.11,3.114,3.114,0,0,0-.15,1.11v7.647h-4.17s.06-12.219,0-13.5h4.169l-.03,1.8a4.533,4.533,0,0,1,4.132-2.307c3,0,5.24,1.957,5.24,6.163Z" transform="translate(-404.251 -238.864)" fill="#646464"/>
                            </svg>                      
                        </a>
                        <a href="{{ details:twitter_link }}" target="_blank">
                            <svg id="Group_99" data-name="Group 99" xmlns="http://www.w3.org/2000/svg" width="39.801" height="39.801" viewBox="0 0 39.801 39.801">
                                <g id="Component_15_12" data-name="Component 15 – 12">
                                    <rect class="bg" id="Rectangle_174" data-name="Rectangle 174" width="39.801" height="39.801" rx="7.915" fill="#eaeaea"/>
                                </g>
                                <path class="inr" id="Path_41" data-name="Path 41" d="M557.884,243.924a11.215,11.215,0,0,1-1.172,1.3c-.936.93-.986,1.031-.986,1.81a17.433,17.433,0,0,1-1.138,5.073,14.7,14.7,0,0,1-5.572,6.565,14.12,14.12,0,0,1-10.975,1.252,12.825,12.825,0,0,1-3.228-1.489,4.935,4.935,0,0,1,1.373-.136,9.364,9.364,0,0,0,4.484-1.25l.9-.542-1.038-.355a5.059,5.059,0,0,1-3.128-2.775c-.1-.356-.067-.373.869-.373l.972-.014-.821-.389a5.409,5.409,0,0,1-2.292-2.166,6.068,6.068,0,0,1-.6-2.267,1.946,1.946,0,0,1,.786.185c1.153.422,1.3.321.635-.389a4.889,4.889,0,0,1-1.038-5.007l.283-.812,1.1,1.1a13.605,13.605,0,0,0,7.964,3.924l.836.1-.05-.828a4.845,4.845,0,0,1,3.263-4.871,5.713,5.713,0,0,1,2.93-.069,6.829,6.829,0,0,1,1.421.745l.819.56.9-.288a9.12,9.12,0,0,0,1.473-.575c.284-.151.535-.235.535-.185a4.936,4.936,0,0,1-1.137,1.81c-.7.761-.5.828.919.321C558.034,243.6,558.052,243.6,557.884,243.924Z" transform="translate(-525.169 -231.027)" fill="#646464"/>
                            </svg>                      
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <aside>
            <div class="sticky">
                {{ if events:our_events }}
                    <div class="event reveal-bottom">
                        {{ events:our_events }}
                            <h3>{{ title }}</h3>
                            <p>{{ info }}</p>
                            <a href="{{ button_link }}" class="button"> 
                                <button id="link-to-events-page" class="shimmer">{{ button_text }}</button> 
                            </a>
                        {{ /events:our_events }}
                    </div>
                {{ endif }}
    
                <div class="articles reveal-bottom">
                    <h3>Other Events:</h3>

                    {{ collection:events limit="2" }}
                        <a href="/blog/{{ slug }}">
                            <div class="more-article flex">
                                <picture>
                                    <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                                
                                    <img src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                                </picture>
                                
                                <div class="flex">
                                    <p>{{ title }}</p>

                                    <p class="read"><em>Read >></em></p>
                                </div>
                            </div>
                        </a>
                    {{ /collection:events }}
                </div>
            </div>
        </aside>
    </section>
</main>