<main class="blog-post article-page event-post">

    <section id="info" class="wide">
        <article>
            <div id="article">
                <div class="title">
                    <a href="/whats-on"><p>< Back to Whats On?</p></a>
                    <h1 class="reveal-left">{{ title }}</h1>
                    {{ event_categories }}
                        <p class="reveal-right category"><em>{{ title }}</em></p>
                    {{ /event_categories }}
                    <div class="details">
                        {{ if event_date:end != event_date:start }}
                            <p class="reveal-right"><span>When:</span>{{ event_date:start }} - {{ event_date:end }}</p>
                        {{ else }}
                            <p class="reveal-right"><span>When:</span>{{ event_date:start }}</p>
                        {{ endif }}
                        <p class="reveal-right date"><span>Where:</span> {{ venue }}</p>
                    </div>
                </div>

                <picture>
                    <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                
                    <img class="reveal-left" loading="lazy" src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                </picture>

                {{ article }}
                    {{ content }}
                {{ /article }}

                {{ cta }}
                    <div class="cta">
                        <h1>{{ text }}</h1>
                        <div class="button"> 
                            <a href="{{ button_link }}" class="inner-btn animated-button">{{ button_text }}</a> 
                        </div>
                    </div>
                {{ /cta }}

                <div class="share flex">
                    <p>Share this page?</p>                                
    
                    <div class="socials">
                        {{ if details:facebook_link }}
                            <a name="Facebook logo and link" href="{{ details:facebook_link }}" target="_blank">
                                <svg id="Group_152" data-name="Group 152" xmlns="http://www.w3.org/2000/svg" width="41.356" height="41.356" viewBox="0 0 41.356 41.356">
                                    <rect class="bg" id="Rectangle_197" data-name="Rectangle 197" width="41.356" height="41.356" rx="7.915" transform="translate(0 0)" fill="#eaeaea"/>
                                    <path class="inr" id="Path_135" data-name="Path 135" d="M291.722,247.8H288.17v12.66h-5.263V247.8h-2.5V243.33h2.5v-2.894c0-2.072.985-5.311,5.311-5.311l3.9.015v4.343h-2.831a1.071,1.071,0,0,0-1.115,1.219v2.629h4.01Z" transform="translate(-265.615 -226.934)" fill="#646464"/>
                                </svg>                      
                            </a>
                        {{ endif }}
                        {{ if details:instagram_link }}
                            <a name="Instagram logo and link" href="{{ details:instagram_link }}" target="_blank">
                                <svg id="Component_31_1" data-name="Component 31 – 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28.488" height="28.488" viewBox="0 0 28.488 28.488">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <rect id="Rectangle_258" data-name="Rectangle 258" width="17.634" height="17.617" transform="translate(0 0)" fill="#646464"/>
                                        </clipPath>
                                    </defs>
                                    <rect class="bg" id="Rectangle_172" data-name="Rectangle 172" width="28.488" height="28.488" rx="7.915" fill="#eaeaea"/>
                                    <g id="Group_214" data-name="Group 214" transform="translate(5.428 5.436)">
                                        <g id="Group_213" data-name="Group 213" transform="translate(0 0)" clip-path="url(#clip-path)">
                                        <path class="inr" id="Path_188" data-name="Path 188" d="M21.169,25.7a4.454,4.454,0,1,0-4.443-4.443A4.437,4.437,0,0,0,21.169,25.7m-.015-7.813a3.309,3.309,0,0,1,3.494,3.361,3.41,3.41,0,1,1-6.82-.008,3.2,3.2,0,0,1,3.326-3.353" transform="translate(-12.465 -12.516)" fill="#646464"/>
                                        <path class="inr" id="Path_189" data-name="Path 189" d="M51.683,13.8a.681.681,0,0,0,.681-.778.657.657,0,0,0-.678-.717.716.716,0,0,0-.815.708.725.725,0,0,0,.811.787" transform="translate(-37.913 -9.172)" fill="#646464"/>
                                        <path class="inr" id="Path_190" data-name="Path 190" d="M.026,12.865a4.486,4.486,0,0,0,3.532,4.4,39.293,39.293,0,0,0,10.179.038,4.825,4.825,0,0,0,3.606-3.472,42.37,42.37,0,0,0,.028-9.666A4.392,4.392,0,0,0,12.949.083c-2.755-.108-5.522-.115-8.277,0A4.74,4.74,0,0,0,.015,4.975c-.021,1.207,0,2.415,0,3.622H.017c0,1.423-.043,2.848.009,4.269m.981-7.891c.1-2.04,1.155-3.434,2.8-3.706a15.365,15.365,0,0,1,2.7-.252q3.487.045,6.971.229a3.325,3.325,0,0,1,2.862,2.611,5.8,5.8,0,0,1,.137.894,43.449,43.449,0,0,1-.123,8.777,3.267,3.267,0,0,1-3.088,2.823,47.3,47.3,0,0,1-8.9.011,3.573,3.573,0,0,1-3.35-3.749C.943,11.32,1,10.023,1,8.728c0-1.251-.048-2.5.012-3.754" transform="translate(0 0)" fill="#646464"/>
                                        </g>
                                    </g>
                                </svg>                    
                            </a>
                        {{ endif }}
                        {{ if details:linkedin_link }}
                            <a name="LinkedIn logo and link" href="{{ details:linkedin_link }}" target="_blank">
                                <svg id="Component_14_12" data-name="Component 14 – 12" xmlns="http://www.w3.org/2000/svg" width="39.801" height="39.801" viewBox="0 0 39.801 39.801">
                                    <rect class="bg" id="Rectangle_172" data-name="Rectangle 172" width="39.801" height="39.801" rx="7.915" fill="#eaeaea"/>
                                    <rect class="inr" id="Rectangle_173" data-name="Rectangle 173" width="4.149" height="13.423" transform="translate(10.72 15.958)" fill="#646464"/>
                                    <path class="inr" id="Path_39" data-name="Path 39" d="M406.291,242.426h-.025a2.163,2.163,0,1,1,.025,0Z" transform="translate(-393.574 -229.109)" fill="#646464"/>
                                    <path class="inr" id="Path_40" data-name="Path 40" d="M435.23,268.245h-4.176V260.6a2.6,2.6,0,0,0-5.016-1.11,3.114,3.114,0,0,0-.15,1.11v7.647h-4.17s.06-12.219,0-13.5h4.169l-.03,1.8a4.533,4.533,0,0,1,4.132-2.307c3,0,5.24,1.957,5.24,6.163Z" transform="translate(-404.251 -238.864)" fill="#646464"/>
                                </svg>                      
                            </a>
                        {{ endif }}
                        {{ if details:twitter_link }}
                            <a name="Twitter logo and link" href="{{ details:twitter_link }}" target="_blank">
                                <svg id="Group_99" data-name="Group 99" xmlns="http://www.w3.org/2000/svg" width="39.801" height="39.801" viewBox="0 0 39.801 39.801">
                                    <g id="Component_15_12" data-name="Component 15 – 12">
                                        <rect class="bg" id="Rectangle_174" data-name="Rectangle 174" width="39.801" height="39.801" rx="7.915" fill="#eaeaea"/>
                                    </g>
                                    <path class="inr" id="Path_41" data-name="Path 41" d="M557.884,243.924a11.215,11.215,0,0,1-1.172,1.3c-.936.93-.986,1.031-.986,1.81a17.433,17.433,0,0,1-1.138,5.073,14.7,14.7,0,0,1-5.572,6.565,14.12,14.12,0,0,1-10.975,1.252,12.825,12.825,0,0,1-3.228-1.489,4.935,4.935,0,0,1,1.373-.136,9.364,9.364,0,0,0,4.484-1.25l.9-.542-1.038-.355a5.059,5.059,0,0,1-3.128-2.775c-.1-.356-.067-.373.869-.373l.972-.014-.821-.389a5.409,5.409,0,0,1-2.292-2.166,6.068,6.068,0,0,1-.6-2.267,1.946,1.946,0,0,1,.786.185c1.153.422,1.3.321.635-.389a4.889,4.889,0,0,1-1.038-5.007l.283-.812,1.1,1.1a13.605,13.605,0,0,0,7.964,3.924l.836.1-.05-.828a4.845,4.845,0,0,1,3.263-4.871,5.713,5.713,0,0,1,2.93-.069,6.829,6.829,0,0,1,1.421.745l.819.56.9-.288a9.12,9.12,0,0,0,1.473-.575c.284-.151.535-.235.535-.185a4.936,4.936,0,0,1-1.137,1.81c-.7.761-.5.828.919.321C558.034,243.6,558.052,243.6,557.884,243.924Z" transform="translate(-525.169 -231.027)" fill="#646464"/>
                                </svg>                      
                            </a>
                        {{ endif }}
                    </div>
                </div>
            </div>
        </article>

        <aside>
            <div class="sticky">
                {{ if events:our_events }}
                    <div class="event reveal-bottom">
                        {{ events:our_events }}
                            <h3>{{ title }}</h3>
                            <p>{{ info }}</p>
                            <a href="{{ button_link }}" class="button"> 
                                <button id="link-to-events-page" class="shimmer">{{ button_text }}</button> 
                            </a>
                        {{ /events:our_events }}
                    </div>
                {{ endif }}
    
                <div class="articles reveal-bottom">
                    <h3>Other Events:</h3>

                    {{ collection:events limit="2" }}
                        <a href="/blog/{{ slug }}">
                            <div class="more-article flex">
                                <picture>
                                    <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                                
                                    <img src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                                </picture>
                                
                                <div class="flex">
                                    <p>{{ title }}</p>

                                    <p class="read"><em>Read >></em></p>
                                </div>
                            </div>
                        </a>
                    {{ /collection:events }}
                </div>
            </div>
        </aside>
    </section>
</main>