footer {
    #mailing-list {
        @include flex(0, 0, 0, column);

        > div {
            padding: 40px $smallMobPaddingX;
        }

        .red {
            background: $red;
            min-height: 200px;

            h2 {
                color: #fff;
                margin-bottom: 40px;
            }

            .shimmer {
                margin: 0;
                border: 2px solid #fff;
                
                &:hover {
                    transform: rotate(2deg) !important;
                }
            }
        }

        .grey {
            background: $grey;
            min-height: 200px;

            h2 {
                color: #fff;
            }

            .flex {
                align-items: flex-end;
                margin: 40px 0 30px 0;

                .shimmer {
                    margin: 0;
                    height: 52px;
                    background-color: $grey;
                    color: #000;
                    border: 2px solid #000;
                }

                label {
                    margin-right: 10px;
                }
            }
        }
    }

    #footer {
        min-height: 200px;
        padding: 20px $bigMobPaddingX;

        .top {
            .accordion, .connect {
                border-bottom: 1px solid $dblue;
                position: relative;
    
                p {
                    @include flex(center);
                    @include mont(600);
                    color: $dblue;
                    height: 50px;
                }
    
                .arrow {
                    position: absolute;
                    right: 0;
                    top: 16.5px;
                    width: 15px;
                    height: 15px;
                    transition-duration: .15s;
    
                    path {
                        fill: $dblue;
                    }
                }
    
                .panel {
                    flex-direction: column;
                    margin-bottom: 15px;
    
                    a {
                        @include sans();
                        padding: 7.5px 0;
                        padding-left: 10px;
                    }
                }
            }
    
            .connect {
                border-bottom: 0;
    
                .socials {
                    margin-top: 5px;
        
                    a {
                        &:nth-child(2) {
                            margin: 0 25px;
                        }
                    }
                }
            }
    
            .flex {
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 45px 0;
            }
        }

        .bottom {
            @include flex(center, 0, 0, column);

            .logo {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                }
            }

            p {
                color: $dblue;

                &.copyright {
                    margin-top: 20px;
                    margin-bottom: 70px;
                }
            }

            .flex {
                flex-direction: column;
                align-items: center;

                .surge-logo {
                    width: 45%;
                    height: auto;
                    margin-top: 15px;
                    margin-bottom: 30px;

                    &:hover {
                        path {
                            fill: #a6ce39;
                        }
                    }

                    svg {
                        width: 100%;
                        height: auto;
                    }

                    path {
                        transition-duration: .25s;
                    }
                }
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet}, #{$landscape-tablet} {
    footer {
        #mailing-list {
            .red {
                padding: 60px 15%;
            }

            .grey {
                padding: 60px 15%;
            }
        }

        #footer {
            .accordion {
                width: 47.5%;
                height: fit-content !important
            }

            .accordion-wrapper {
                @include flex(0, space-between);
            }

            .connect {
                margin-top: 35px;
            }

            .flex {
                width: 40%;
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    footer {
        #mailing-list {
            flex-direction: row;

            > div {
                width: 50%;

                h2 {
                    font-size: 30px;
                    width: 57.5%;
                }

                &.red {
                    padding: 60px $bigDesktopPaddingX;
                }

                &.grey {
                    padding: 60px 80px;

                    form {
                        .flex {
                            margin: 15px 0;
                        }
                    }
                }
            }
        }

        #footer {
            padding: 50px 75px;

            .top {
                @include flex(0);

                .accordion-wrapper {
                    @include flex();

                    .accordion {
                        border: none;
                        width: 17.5vw;
                    }

                    svg {
                        display: none;
                    }

                    .panel {
                        display: flex !important;

                        a {
                            padding-left: 0;
                        }
                    }
                }

                .connect {
                    width: 17.5vw;

                    .socials {
                        a {
                            svg {
                                width: 30px;
                                height: 30px;
                            }

                            &:nth-child(2) {
                                margin: 0 10px;
                            }
                        }
                    }
                }

                .flex {
                    width: 35%;

                    picture {
                        width: 20%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .bottom {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                margin-top: 50px;

                .flex {
                    &:nth-child(1) {
                        align-items: flex-start;
                        width: 175px;
                        .copyright {
                            margin-bottom: 0;
                        }
                    }

                    &:nth-child(2) {
                        flex-direction: row;
                        justify-content: flex-end;
                        width: 50%;

                        .surge-logo {
                            margin: 0;
                            margin-left: 20px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}