@use 'sass:math';

@mixin flex($align-items: none, $justify-content: none, $flex-wrap: none, $flex-direction: none) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
}
@mixin mont($font-weight: 400, $font-size: 16px, $color: #000) {
    font : {
        family: 'Montserrat', sans-serif;
        weight: $font-weight;
        size: $font-size;
    }
}
@mixin sans($font-weight: 400, $font-size: 16px, $color: #000) {
    font : {
        family: 'Open Sans', sans-serif;
        weight: $font-weight;
        size: $font-size;
    }
}

$landscape-mobile: "only screen and (max-width: 770px) and (min-width: 500px) and (max-height: 400px)";
$portrait-tablet: "only screen and (max-width: 768px) and (min-width: 500px) and (max-height: 1024px)";
$landscape-tablet: "only screen and (max-height: 768px) and (max-width: 1024px) and (min-width: 500px)"; // also landscape mobile
$laptop: "only screen and (min-width: 1025px) and (max-width: 1600px)";
$desktop: "only screen and (min-width: 1600px)";
$mobNavHeight: 86px;
$tabletNavHeight: 100px;
$desktopNavHeight: 130px;
$bigMobPaddingX: 36px;
$smallMobPaddingX: 18px;
$tabletPaddingX: 10vw;
$bigDesktopPaddingX: 140px;
$red: #F71541;
$dred: #F71541;
$dblue: #202E7A;
$grey: #D3D3D3;

* {
    // border: 1px solid red; // for testing
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::selection {
        background-color: $red;
    }

    body { 
        padding-top: $mobNavHeight;

        &.no-scroll {
            overflow-y: hidden;
        }

        main {
            min-height: 75vh;
            z-index: -1;

            /* HEADER */

            &:not(.home) {
                header {
                    position: relative;
                    height: 25vh;
                    background-size: cover;
                    background-position: center top;

                    .overlay {
                        background: linear-gradient(130deg, rgba(229,3,49,.2), rgba(64, 69, 95, 0.7));
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100%;
                    }

                    h1 {
                        @include mont(900, 24px);
                        color: #fff;
                        position: absolute;
                        left: $bigMobPaddingX;
                        bottom: 3.5vh;
                    }
                }
            }
        }

        .flex {
            @include flex(0);
        }

        .content {
            a {
                @include sans(600, 14px);

                &:hover {
                    text-decoration: underline;
                }
            }

            li {
                list-style-position: inside;
                margin: 30px 0;

                p {
                    @include sans(400, 16px);
                    display: inline;
                }
            }
        }

        /* ACCORDION */

        .accordion-container {
            width: 100%;
        }

        .panel, .hide-panel {
            display: none;
        }

        .arrow {
            width: 15px;
            height: 15px;
            transition-duration: .15s;
        }

        /* BUTTONS */

        .button {
            width: fit-content !important;
            height: fit-content !important;

            .animated-button:link:after, .animated-button:visited:after {
                content: "";
                position: absolute;
                height: 0%;
                left: 50%;
                top: 50%;
                width: 150%;
                z-index: -1;
                transition: all 0.75s ease 0s;
            }
            .animated-button:link:hover:after, .animated-button:visited:hover:after {
                height: 450%;
            }
            .animated-button:link, .animated-button:visited {
                @include mont(600);
                position: relative;
                display: block;
                padding: math.div(55px - 16px - 6px, 2) 15px; // height - font-size - border-width
                min-width: 130px;
                min-height: 55px;
                color: #000;
                border-radius: 5px;
                text-align: center;
                overflow: hidden;
                letter-spacing: .08em;
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
                transition: all .75s ease 0s;
                z-index: 1;

                &:hover {
                    color: #fff
                }
            }
            .animated-button.inner-btn {
                border: 2px solid #fff;
            }
            .animated-button.inner-btn:after {
                background: $dred;
                transform: translateX(-50%) translateY(-50%) rotate(25deg);
            }
        }

        button {
            @include mont(600);
            padding: math.div(55px - 16px - 6px, 2) 15px; // height - font-size - border-width
            min-width: 105px;
            min-height: 50px;
            border: 2px solid #000;
            color: #000;
            border-radius: 5px;
            background: none;
            cursor: pointer;
        }

        .shimmer {
            @include flex (center, center);
            @include mont(600);
            margin-left: 20px;
            background-color: $red;
            border-radius: 5px;
            border: 1px solid $red;
            color: #fff;
            height: 55px;
            width: 130px;
            background-size: 2rem 2rem;
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover, :focus {
                transform: rotate(-2deg) !important;
                background-image: linear-gradient(
                135deg,
                rgba(0, 0, 0, 0.15) 25%,
                transparent 25%,
                transparent 50%,
                rgba(0, 0, 0, 0.15) 50%,
                rgba(0, 0, 0, 0.15) 75%,
                transparent 75%,
                transparent
                );
                animation: shimmer 2.8s linear infinite;
            }

            @keyframes shimmer {
                0% {
                  background-position: 0 0;
                }
                100% {
                  background-position: 2rem 4rem;
                }
            }
        }

        /* SOCIALS */

        .socials {
            a {
                &:hover {
                    .bg {
                        fill: $dblue;
                    }

                    .inr {
                        fill: #fff;
                    }
                }

                &:nth-child(2) {
                    margin: 0 10px;
                }
            }
        }

        /* FORM */

        form {
            label {
                width: 100%;

                input {
                    @include sans(400, 16px);
                    min-height: 52px;
                    width: 100%;
                    outline: none;
                    border: 1px solid #B3B3B3;
                    margin-top: 3.5px;
                    padding: 0 10px;
                }
            }

            .flex {
                width: 100%;
            }

            > p, a {
                font-size: 12px;
            }

            a {
                text-decoration: underline;
            }
        }

        /* SOCIALS */

        .socials {
            @include flex(center);

            a {
                &:focus {
                    .bg {
                        fill: #100C08;
                    }
                }
            }
        }

        /* OWL CAROUSEL */

        .owl-stage {
            cursor: grab;

            &:active {
                cursor: grabbing;
            }
        }

        /* POSTS */

        .posts-wrapper {
            width: 100vw;
            overflow: hidden;

            .posts-container {
                @include flex(0, 0, wrap);
                padding: 40px $bigMobPaddingX;
                padding-bottom: 0;
                width: 102.5%;
                margin-left: -1.25%;
    
                .post {
                    display: none;
                    width: 50%;
                    padding: 0 1.25%;
                    margin-bottom: 50px;

                    &.show, &.current-page {
                        display: block;
                    }
    
                    h3 {
                        transition-duration: .5s;
                        white-space: nowrap;
                        text-transform: uppercase;
                        font-size: 12px;
                    }
    
                    &:hover {
                        h3 {
                            color: $red;
                        }
            
                        figure::before {
                            -webkit-animation: shine .75s;
                            animation: shine .75s;
                        }
            
                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }

        /* SHIMMER IMAGE */

        // &:hover {
        //     h3 {
        //         color: $red;
        //     }

        //     figure::before {
        //         -webkit-animation: shine .75s;
        //         animation: shine .75s;
        //     }

        //     img {
        //         transform: scale(1.05);
        //     }
        // }

        .img-container-shimmer {
            width: 100%;
            margin-bottom: 20px;

            figure {
                position: relative;
                height: fit-content;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transition-duration: .5s;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
            }
        }

        @keyframes shine {
            100% {
                left: 125%;
            }
        }
    }

    a {
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        color: #000;
    }

    h1 {
        @include mont();
    }

    h2 {
        @include mont(900, 29px);
        color: $dblue;
    }

    h3 {
        @include mont(600, 18px);
        color: $dblue;
    }

    h4 {
        @include mont(800, 24px);
        color: $dblue;
    }

    p {
        @include sans(400, 14px);
    }

    picture {
        font-size: 0;
        line-height: 0;

        img {
            display: block;
        }
    }
}

/* LANDSCAPE MOBILE */

@media #{$landscape-mobile} {
    * {
        body {
            main {
                &:not(.home) {
                    /* HEADER */

                    header {
                        height: 70vh !important;
                    }
                }
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet} {
    * {
        body {
            main {
                /* HEADER */

                &:not(.home) {
                    header {
                        h1 {
                            left: $tabletPaddingX;
                        }
                    }
                }

                /* POSTS */

                .posts-container {
                    padding: 40px $tabletPaddingX !important;
                }
            }
        }
    }
}

@media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
    * {
        body {
            main {
                &:not(.home) {
                    /* HEADER */

                    header {
                        height: 40vh;

                        h1 {
                            left: $tabletPaddingX;
                            font-size: 48px;
                        }
                    }
                }

                /* POSTS */

                .posts-container {
                    padding: 40px $tabletPaddingX !important;
                    width: 102.5%;
                    margin-left: -1.25%;
        
                    .post {
                        width: 33.3% !important;
        
                        h3 {
                            font-size: 18px !important;
                        }
                    }
                }
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    * {
        body {
            padding-top: $desktopNavHeight !important;

            main {
                &:not(.home) {
                    /* HEADER */

                    header {
                        height: 45vh;

                        h1 {
                            left: $bigDesktopPaddingX;
                        }
                    }
                }

                /* POSTS */

                .posts-container {
                    padding: 40px $bigDesktopPaddingX !important;
        
                    .post {
                        width: 25% !important;
                    }
                }
            }

            .content {
                a {
                    font-size: 16px;
                }

                li {
                    margin: 50px 0;

                    p {
                        font-size: 20px;
                    }
                }
            }

            h2 {
                font-size: 52px;
            }

            h3 {
                font-size: 22px;
            }

            h4 {
                font-size: 52px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}