main.home {
    /* HEADER */
    
    header {
        @include flex(0, 0, 0, column);
        position: relative;
        overflow-x: hidden;

        > div {
            &:nth-child(1) {
                height: 45%;
            }

            &.red {
                background: $red;
                min-height: 37.5vh;
                padding: 30px $smallMobPaddingX;
            }

            &.video {
                background-size: cover;
                background-position: center;
                overflow: hidden;
                height: 45vh;

                video {
                    width: auto;
                    height: 45vh;
                }
            }
        }

        h1 {
            @include mont(900, 30px);
            color: #fff;
        }

        .content {
            margin: 20px 0;

            p, a {
                font-weight: 600;
                color: #fff;
            }
        }

        button {
            border: 1px solid #fff;
            width: auto;
            margin: 0;
            padding: 10px 15px;
        }
    }

    /* WHAT */

    section#what {
        padding: 40px $bigMobPaddingX;

        #services {
            @include flex(0, 0, 0, column);
            padding-top: 20px;

            .service {
                padding: 45px 0;

                img {
                    width: 108px;
                    height: auto;
                }

                h3 {
                    padding-top: 25px;
                    margin-bottom: 15px;
                }

                hr {
                    margin: 15px 0;
                }
            }
        }
    }

    /* MAP */

    section#map {
        background: $dblue;
        margin-top: 50px;
        padding: 50px $smallMobPaddingX;

        img {
            margin-bottom: 40px;
            width: 100%;
        }

        h2, h3 {
            color: #fff;
            padding: 20px $smallMobPaddingX;
        }

        h2 {
            font-size: 24px;
        }

        @for $i from 1 through 10 {
            @if $i % 2 == 0 {
                h3:nth-child(#{$i}) {
                    background: #121E5C;
                }
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet} {
    main.home {
        /* HEADER */
    
        header {
            > div {
                &:nth-child(1) {
                    height: 20vh;
                }

                &.red {
                    padding: 5%;
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 40px $tabletPaddingX;

            #services {
                @include flex(0, space-between, wrap, row);

                .service {
                    width: 45%;
                }
            }
        }

        /* MAP */

        section#map {
            padding: 50px $tabletPaddingX;

            h2, h3 {
                padding: 25px $smallMobPaddingX;
            }
        }
    }
}

@media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
    main.home {
        /* HEADER */
    
        header {
            flex-direction: row;

            > div {
                height: 77.5vh;

                &.red {
                    width: 30%;
                    height: 77.5vh;
                }

                &.video {
                    width: 70%;
                    height: 77.5vh;
                    overflow: hidden;

                    video {
                        width: auto;
                        height: 77.5vh;
                    }
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 40px $tabletPaddingX;

            #services {
                @include flex(0, space-between, wrap, row);

                .service {
                    width: 45%;
                }
            }
        }

        /* MAP */

        section#map {
            padding: 50px $tabletPaddingX;

            h2, h3 {
                padding: 25px $smallMobPaddingX;
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    main.home {
        /* HEADER */
    
        header {
            justify-content: space-between;
            background-color: $red;
            
            > div {
                &.red {
                    width: 30vw;
                    height: 70vh;
                    padding: 70px 50px;
                    z-index: 1;
                    overflow: visible;

                    h1 {
                        font-size: 50px;
                        min-width: 450px;
                    }

                    .content {
                        margin: 30px 0 70px;
                        min-width: 450px;

                        p, a {
                            font-size: 22px;
                        }
                    }
                }

                &.video {
                    width: auto;
                    height: 70vh;
                    overflow: hidden;

                    video {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 80px $bigDesktopPaddingX;

            #services {
                .service {
                    @include flex();

                    h3 {
                        padding: 0;
                    }

                    img {
                        margin-right: 40px;
                    }
                }
            }
        }

         /* MAP */

         section#map {
             @include flex();
             margin: 80px 0;
             margin-bottom: 160px;
             padding: 100px;

             .top {
                 width: 60%;
             }

             .bottom {
                 width: 40%;
                 padding-left: 80px;
             }

             img {
                 width: 100%;
             }

             h3, h2 {
                 width: 100%;
                 padding-left: 40px;
                 height: 100px;
                 line-height: 50px;
             }
        }
    }
}