main.home {
    /* HEADER */
    
    header {
        @include flex(0, 0, 0, column);
        position: relative;
        overflow-x: hidden;

        > div {
            &:nth-child(1) {
                height: 45%;
            }

            &.red {
                background: $red;
                height: 37.5vh;
            }

            &.video {
                background-size: cover;
                background-position: center;
                overflow: hidden;
                height: 45vh;

                video {
                    width: auto;
                    height: 45vh;
                }
            }
        }

        h1 {
            @include mont(900, 70px);
            position: absolute;
            top: 30px;
            padding-left: $smallMobPaddingX;
            color: #fff;
        }
    }

    /* WHAT */

    section#what {
        padding: 40px $bigMobPaddingX;

        #services {
            @include flex(0, 0, 0, column);
            padding-top: 20px;

            .service {
                padding: 45px 0;

                img {
                    width: 108px;
                    height: auto;
                }

                h3 {
                    padding-top: 25px;
                    margin-bottom: 15px;
                }

                hr {
                    margin: 15px 0;
                }
            }
        }
    }

    /* RIDES */

    section#rides {
        padding: 40px 0;

        h2 {
            text-align: center;
            color: $red;
        }

        .carousel-container {
            position: relative;
            margin-top: 30px;

            .owl-carousel {
                .owl-item {
                    padding: 0 17.5vw;
    
                    h3 {
                        transition-duration: .5s;
                    }
    
                    &:hover {
                        h3 {
                            color: $red;
                        }

                        figure::before {
                            -webkit-animation: shine .75s;
                            animation: shine .75s;
                        }

                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }

            .owl-custom-nav {
                .owl-nav-custom {
                    width: fit-content;
                    position: absolute;
                    margin-top: -50%;
                    z-index: 1;
    
                    &:nth-child(1) {
                        left: 2.5%;
                    }
    
                    &:nth-child(2) {
                        right: 2.5%;
                    }
                }
            }
        }
    }

    /* MAP */

    section#map {
        background: $dblue;
        margin-top: 50px;
        padding: 50px $smallMobPaddingX;

        img {
            margin-bottom: 40px;
            width: 100%;
        }

        h2, h3 {
            color: #fff;
            padding: 20px $smallMobPaddingX;
        }

        h2 {
            font-size: 24px;
        }

        @for $i from 1 through 10 {
            @if $i % 2 == 0 {
                h3:nth-child(#{$i}) {
                    background: #121E5C;
                }
            }
        }
    }
}

/* LANDSCAPE MOBILE */

@media #{$landscape-mobile} {
    main.home {
        /* RIDES */

        section#rides {
            padding: 40px 15vw !important;

            .carousel-container {
                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -60% !important;
        
                        &:nth-child(1) {
                            left: -15% !important;
                        }
        
                        &:nth-child(2) {
                            right: -15% !important;
                        }
                    }
                }
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet} {
    main.home {
        /* HEADER */
    
        header {
            > div {
                &:nth-child(1) {
                    height: 20vh;
                }

                h1 {
                    width: 20%;
                    padding-left: 5%;
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 40px $tabletPaddingX;

            #services {
                @include flex(0, space-between, wrap, row);

                .service {
                    width: 45%;
                }
            }
        }

        /* RIDES */

        section#rides {
            .carousel-container {
                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -40%;
        
                        &:nth-child(1) {
                            left: 5%;
                        }
        
                        &:nth-child(2) {
                            right: 5%;
                        }
                    }
                }
            }
        }

        /* MAP */

        section#map {
            padding: 50px $tabletPaddingX;

            h2, h3 {
                padding: 25px $smallMobPaddingX;
            }
        }
    }
}

@media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
    main.home {
        /* HEADER */
    
        header {
            flex-direction: row;

            > div {
                height: 77.5vh;

                &.red {
                    width: 30%;
                    height: 77.5vh;

                    h1 {
                        width: 40%;
                        top: 15px;
                        padding-left: 5%;
                    }
                }

                &.video {
                    width: 70%;
                    height: 77.5vh;
                    overflow: hidden;

                    video {
                        width: auto;
                        height: 77.5vh;
                    }
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 40px $tabletPaddingX;

            #services {
                @include flex(0, space-between, wrap, row);

                .service {
                    width: 45%;
                }
            }
        }

        /* RIDES */

        section#rides {
            padding: 40px $tabletPaddingX;

            h2 {
                text-align: left;
            }

            .carousel-container {

                .owl-carousel {
                    .owl-item {
                        padding: 0 2.5vw;
                    }
                }

                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -30%;
                        z-index: 1;
        
                        &:nth-child(1) {
                            left: -7.5%;
                        }
        
                        &:nth-child(2) {
                            right: -7.5%;
                        }
                    }
                }
            }
        }

        /* MAP */

        section#map {
            padding: 50px $tabletPaddingX;

            h2, h3 {
                padding: 25px $smallMobPaddingX;
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    main.home {
        /* HEADER */
    
        header {

            > div {
                &.red {
                    width: 21.5vw;
                    height: 90vh;

                    h1 {
                        top: 20vh;
                        padding-left: $bigDesktopPaddingX;
                        width: 400px;
                        font-size: 100px;
                    }
                }

                &.video {
                    width: 78.5vw;
                    height: 90vh;
                    overflow: hidden;

                    video {
                        width: auto;
                        height: 90vh;
                    }
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 80px $bigDesktopPaddingX;

            #services {
                .service {
                    @include flex();

                    h3 {
                        padding: 0;
                    }

                    img {
                        margin-right: 40px;
                    }
                }
            }
        }

        /* RIDES */

        section#rides {
            padding: 80px $bigDesktopPaddingX;

            h2 {
                font-size: 42px;
                margin-bottom: 50px;
                margin-left: 30px;
            }

            .carousel-container {

                .owl-carousel {
                    .owl-item {
                        padding: 0 10px;
                    }
                }

                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -16.5%;
                        z-index: 1;
                        cursor: pointer;
        
                        &:nth-child(1) {
                            left: -4%;
                        }
        
                        &:nth-child(2) {
                            right: -4%;
                        }
                    }
                }
            }
        }

         /* MAP */

         section#map {
             @include flex();
             margin: 80px 0;
             margin-bottom: 160px;
             padding: 100px;

             .top {
                 width: 60%;
             }

             .bottom {
                 width: 40%;
                 padding-left: 80px;
             }

             img {
                 width: 100%;
             }

             h3, h2 {
                 width: 100%;
                 padding-left: 40px;
                 height: 100px;
                 line-height: 50px;
             }
        }
    }
}