main.home {
    /* HEADER */
    
    header {
        @include flex(0, 0, 0, column);
        position: relative;
        overflow-x: hidden;

        > div {
            &:nth-child(1) {
                height: 45%;
            }

            &.red {
                background: $red;
                height: 37.5vh;
            }

            iframe {
                width: 100%;
                height: 45vh;
            }
        }

        h1 {
            @include mont(900, 70px);
            position: absolute;
            top: 30px;
            padding-left: $smallMobPaddingX;
            color: #fff;
        }
    }

    /* WHO */

    section#who {
        @include flex(0, 0, 0, column);
        padding: 40px 0;

        .top {
            padding: 0 $bigMobPaddingX;
            p {
                margin: 20px 0;
            }
    
            .animated-button.inner-btn {
                border: 2px solid #000;
    
                &:hover {
                    border: 2px solid $dred;
    
                    &:link, :visited {
                        color: #fff;
                    }
    
                }
    
                &:link, :visited {
                    color: #000;
                }
            }
        }

        .bottom {
            position: relative;
            padding: 0 $smallMobPaddingX;
            margin-top: 40px;

            picture {
                &:nth-child(1) img {
                    position: absolute;
                    top: 20%;
                    z-index: -1;
                }

                &:nth-child(2) img {
                    float: right;
                }
            }
        }
    }

    /* WHAT */

    section#what {
        padding: 40px $bigMobPaddingX;

        #services {
            @include flex(0, 0, 0, column);
            padding-top: 20px;

            .service {
                padding: 45px 0;

                img {
                    width: 108px;
                    height: auto;
                }

                h3 {
                    padding-top: 25px;
                    margin-bottom: 15px;
                }

                hr {
                    margin: 15px 0;
                }
            }
        }
    }

    /* SKYWHEEL */

    section#skywheel {
        .top {
            margin: 0 $smallMobPaddingX;
            padding: 40px $bigMobPaddingX - $smallMobPaddingX;
            margin-top: 20px;
            border-radius: 2px;
            border: 1px solid #EBEBEB;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);

            h3 {
                color: $red;
            }

            p {
                margin: 30px 0;
            }

            .button {
                padding-top: 40px;
            }

            .animated-button.inner-btn {
                border: 2px solid #000;
    
                &:hover {
                    border: 2px solid $dred;
    
                    &:link, :visited {
                        color: #fff;
                    }
    
                }
    
                &:link, :visited {
                    color: #000;
                }
            }
        }

        .bottom {
            padding: 0 $smallMobPaddingX;
            padding-bottom: 40px;

            img {
                width: 100%;
            }
        }
    }

    /* RIDES */

    section#rides {
        padding: 40px 0;

        h2 {
            text-align: center;
            color: $red;
        }

        .carousel-container {
            position: relative;
            margin-top: 30px;

            .owl-carousel {
                .owl-item {
                    padding: 0 17.5vw;
    
                    h3 {
                        transition-duration: .5s;
                    }
    
                    &:hover {
                        h3 {
                            color: $red;
                        }

                        figure::before {
                            -webkit-animation: shine .75s;
                            animation: shine .75s;
                        }

                        img {
                            transform: scale(1.05);
                        }
                    }

                    .img-container {
                        width: 100%;
                        margin-bottom: 20px;

                        figure {
                            position: relative;
                            height: fit-content;
                            overflow: hidden;
    
                            img {
                                width: 100%;
                                height: auto;
                                transition-duration: .5s;
                            }

                            &::before {
                                position: absolute;
                                top: 0;
                                left: -75%;
                                z-index: 2;
                                display: block;
                                content: '';
                                width: 50%;
                                height: 100%;
                                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                                -webkit-transform: skewX(-25deg);
                                transform: skewX(-25deg);
                            }
                        }
                    }

                    @keyframes shine {
                        100% {
                            left: 125%;
                        }
                    }
                }
            }

            .owl-custom-nav {
                .owl-nav-custom {
                    width: fit-content;
                    position: absolute;
                    margin-top: -50%;
                    z-index: 1;
    
                    &:nth-child(1) {
                        left: 2.5%;
                    }
    
                    &:nth-child(2) {
                        right: 2.5%;
                    }
                }
            }
        }
    }

    /* MAP */

    section#map {
        background: $dblue;
        margin-top: 50px;
        padding: 50px $smallMobPaddingX;

        img {
            margin-bottom: 40px;
            width: 100%;
        }

        h2, h3 {
            color: #fff;
            padding: 20px $smallMobPaddingX;
        }

        h2 {
            font-size: 24px;
        }

        @for $i from 1 through 10 {
            @if $i % 2 == 0 {
                h3:nth-child(#{$i}) {
                    background: #121E5C;
                }
            }
        }
    }

    /* PARTNERS */

    section#partners {
        padding: 40px 0; 

        .title {
            padding: 0 $bigMobPaddingX;

            h3 {
                color: $red;
                margin-bottom: 20px;
                font-weight: 900;
            }

            p {
                font-size: 16px;
            }
        }

        .top {
            padding: 50px 10px;

            .owl-item {
                padding: 0 10px;
                margin-bottom: 40px;

                > div {
                    border: 1px solid #EBEBEB;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
                    padding: 30px 20px 50px 20px;
                }

                svg {
                    margin-bottom: 20px;
                }

                .name {
                    margin-top: 60px;
                    font-size: 16px;
                }
            }

            .owl-dots {
                @include flex(center, center);

                button {
                    min-width: 20px;
                    min-height: 20px;
                    border-radius: 100%;
                    background: #D3D3D3;
                    margin: 0 10px;

                    &.active {
                        background: $dblue;
                    }
                }
            }
        }

        .bottom {
            @include flex(0, space-between, wrap);
            padding: 40px $smallMobPaddingX;

            picture {
                width: 42.5%;
                height: auto;
                img {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/* LANDSCAPE MOBILE */

@media #{$landscape-mobile} {
    main.home {
        /* WHO */

        section#who {
            flex-direction: column !important;

            .bottom {
                margin-left: 50%;
                transform: translateX(-50%);
                width: 350px !important;
            }
        }

        /* SKYWHEEL */

        section#skywheel {
            @include flex(center, space-between);
            padding: 40px $smallMobPaddingX !important;

            > div {
                &.top {
                    padding: 20px 10px;
                }
            }
        }

        /* RIDES */

        section#rides {
            padding: 40px 15vw !important;

            .carousel-container {
                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -60% !important;
        
                        &:nth-child(1) {
                            left: -15% !important;
                        }
        
                        &:nth-child(2) {
                            right: -15% !important;
                        }
                    }
                }
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet} {
    main.home {
        /* HEADER */
    
        header {
            > div {
                &:nth-child(1) {
                    height: 20vh;
                }

                h1 {
                    width: 20%;
                    padding-left: 5%;
                }
            }
        }

        /* WHO */

        section#who {

            .top {
                padding: 0 $tabletPaddingX;
            }

            .bottom {
                margin-left: 50%;
                transform: translateX(-50%);
                width: 400px;
            }
        }

        /* WHAT */

        section#what {
            padding: 40px $tabletPaddingX;

            #services {
                @include flex(0, space-between, wrap, row);

                .service {
                    width: 45%;
                }
            }
        }

        /* SKYWHEEL */

        section#skywheel {
            .top {
                padding: 80px $tabletPaddingX;
                margin: 0 $tabletPaddingX;
            }

            .bottom {
                padding: 0 $tabletPaddingX;
            }
        }

        /* RIDES */

        section#rides {
            .carousel-container {
                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -40%;
        
                        &:nth-child(1) {
                            left: 5%;
                        }
        
                        &:nth-child(2) {
                            right: 5%;
                        }
                    }
                }
            }
        }

        /* MAP */

        section#map {
            padding: 50px $tabletPaddingX;

            h2, h3 {
                padding: 25px $smallMobPaddingX;
            }
        }

        /* PARTNERS */

        section#partners {

            .title {
                padding: 0 $tabletPaddingX;
            }

            .top {
                padding: 50px $tabletPaddingX;
            }

            .bottom {
                padding: 40px $tabletPaddingX;

                picture {
                    width: 20%;
                    height: auto;
                    img {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
    main.home {
        /* HEADER */
    
        header {
            flex-direction: row;

            > div {
                height: 77.5vh !important;

                &.red {
                    width: 30%;

                    h1 {
                        width: 40%;
                        top: 15px;
                        padding-left: 5%;
                    }
                }

                &.video {
                    width: 70%;

                    iframe {
                        height: 77.5vh;
                    }
                }
            }
        }

        /* WHO */

        section#who {
            flex-direction: row;
            justify-content: space-between;
            padding: 80px $tabletPaddingX;
            margin-top: 80px;
            width: 100%;

            > div {
                padding: 0 !important;
            }

            .top {
                width: 100%;
                margin-right: 50px;
            }

            .bottom {
                width: 375px;
                min-width: 375px;
                height: fit-content;
                margin-top: 20px;
            }
        }

        /* WHAT */

        section#what {
            padding: 40px $tabletPaddingX;

            #services {
                @include flex(0, space-between, wrap, row);

                .service {
                    width: 45%;
                }
            }
        }

        /* SKYWHEEL */

        section#skywheel {
            @include flex(center, space-between);
            padding: 40px $tabletPaddingX;

            > div {
                margin: 0 !important;
                width: 50%;
                
                &.bottom {
                    padding: 0;
                }
            }
        }

        /* RIDES */

        section#rides {
            padding: 40px $tabletPaddingX;

            h2 {
                text-align: left;
            }

            .carousel-container {

                .owl-carousel {
                    .owl-item {
                        padding: 0 2.5vw;
                    }
                }

                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -30%;
                        z-index: 1;
        
                        &:nth-child(1) {
                            left: -7.5%;
                        }
        
                        &:nth-child(2) {
                            right: -7.5%;
                        }
                    }
                }
            }
        }

        /* MAP */

        section#map {
            padding: 50px $tabletPaddingX;

            h2, h3 {
                padding: 25px $smallMobPaddingX;
            }
        }

        /* PARTNERS */

        section#partners {

            .title {
                padding: 0 $tabletPaddingX;
            }

            .top {
                padding: 50px $tabletPaddingX;
            }

            .bottom {
                padding: 40px $tabletPaddingX;

                picture {
                    width: 20%;
                    height: auto;
                    img {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    main.home {
        /* HEADER */
    
        header {
            > div {
                &.red {
                    width: 21.5vw;
                    height: 85vh !important;

                    h1 {
                        top: 20vh;
                        padding-left: $bigDesktopPaddingX;
                        width: 400px;
                        font-size: 100px;
                    }
                }

                &.video {
                    width: 70%;

                    iframe {
                        width: 78vw;
                        height: 85vh;
                    }
                }
            }
        }

        /* WHO */

        section#who {
            flex-direction: row-reverse;
            align-items: center;
            padding-left: 105px;
            padding-right: $bigDesktopPaddingX;

            > div {
                padding: 0 !important;
            }

            .top {
                width: 36.5vw;
                height: fit-content;
                padding-left: 50px !important;

                .button {
                    margin-top: 70px;
                }
            }

            .bottom {
                width: 47.5vw;
                min-width: 375px;
                height: fit-content;
                margin-top: 20px;

                picture {
                    &:nth-child(1) img {
                        width: 65%;
                    }

                    &:nth-child(2) img {
                        width: 50%;
                    }
                }
            }
        }

        /* WHAT */

        section#what {
            padding: 80px $bigDesktopPaddingX;

            #services {
                .service {
                    @include flex();

                    h3 {
                        padding: 0;
                    }

                    img {
                        margin-right: 40px;
                    }
                }
            }
        }

        /* SKYWHEEL */

        section#skywheel {
            padding: 80px $bigDesktopPaddingX;
            flex-direction: row-reverse;

            > div {
                &.top {
                    padding: 100px;
                    padding-left: 60px;
                    width: 60%;

                    .button {
                        margin-top: 170px;
                    }
                }
            }
        }

        /* RIDES */

        section#rides {
            padding: 80px $bigDesktopPaddingX;

            h2 {
                font-size: 42px;
                margin-bottom: 50px;
                margin-left: 30px;
            }

            .carousel-container {

                .owl-carousel {
                    .owl-item {
                        padding: 0 10px;
                    }
                }

                .owl-custom-nav {
                    .owl-nav-custom {
                        margin-top: -16.5%;
                        z-index: 1;
                        cursor: pointer;
        
                        &:nth-child(1) {
                            left: -4%;
                        }
        
                        &:nth-child(2) {
                            right: -4%;
                        }
                    }
                }
            }
        }

         /* MAP */

         section#map {
             @include flex();
             margin: 80px 0;
             margin-bottom: 160px;
             padding: 100px;

             .top {
                 width: 60%;
             }

             .bottom {
                 width: 40%;
                 padding-left: 80px;
             }

             img {
                 width: 100%;
             }

             h3, h2 {
                 width: 100%;
                 padding-left: 40px;
                 height: 100px;
                 line-height: 50px;
             }
        }

        /* PARTNERS */

        section#partners {
            @include flex(0, space-between, 0, row-reverse);
            position: relative;
            margin: 80px $bigDesktopPaddingX;
            margin-bottom: 160px;

            .title {
                position: absolute;
                top: 10vh;
                left: 0;

                h3 {
                    font-size: 30px;
                }
            }

            > div {
                width: 48.5%;
                padding: 0 !important;

                &.top {
                    .owl-item {
                        > div {
                            padding: 60px;
                            padding-top: 40px;

                            p {
                                margin-top: 30px;
                            }
                        }
                    }
                }

                &.bottom {
                    padding-top: 20vh !important;
                    justify-content: flex-start;
                    margin-left: -2%;
                    width: 50.5%;

                    picture {
                        width: 25%;
                        padding: 0 4%;
                    }
                }
            }
        }
    }
}