@use 'sass:math';

header {
    $mobNavPaddingX: 18px;
    $mobNavPaddingY: 20px;

    #nav {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;

        .inner-nav {
            @include flex(center, space-between);
            position: relative;
            height: $mobNavHeight;
            padding: $mobNavPaddingY $mobNavPaddingX;
            width: 100vw;
            box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .25);
            background-color: #fff;
    
            .burger {
                #nav-icon3 {
                    width: 40px;
                    height: 50px;
                    position: relative;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    cursor: pointer;
                  }
                  
                  #nav-icon3 span {
                    display: block;
                    position: absolute;
                    height: 4px;
                    width: 100%;
                    background: $dblue;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                  }

                  #nav-icon3 span:nth-child(1) {
                    top: 7.5px;
                  }
                  
                  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
                    top: 22.5px;
                  }
                  
                  #nav-icon3 span:nth-child(4) {
                    top: 37.5px;
                  }
                  
                  #nav-icon3.open span:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                  }
                  
                  #nav-icon3.open span:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    width: 42.5px;
                    margin-left: -1.5px;
                  }
                  
                  #nav-icon3.open span:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    width: 42.5px;
                    margin-left: -1.5px;
                  }
                  
                  #nav-icon3.open span:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                  }
            }
        
            .mob-nav {
                @include flex(center, flex-end);
                width: 70%;
    
                svg {
                    width: 100%;
                    height: 100%;
                }
    
                .phone {
                    height: 40px;
                    width: 40px;
                    margin: 0 15px;
                }
            }
    
            .desktop-nav {
                display: none;
            }
        }

        #mob-menu {
            $accordionHeight: 70px;
            $subAccordionHeight: 50px;
            position: fixed;
            z-index: -1;
            margin-top: -$mobNavHeight;
            padding: 0 $bigMobPaddingX;
            padding-top: 100px;
            height: 100vh;
            width: 100%;
            background-color: $dblue;
            transform: translateY(-100%);
            transition-duration: 1s;
            overflow: scroll;
            box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .15);

            &.active {
                transform: translateY(0);
            }
    
            li, .contact {
                @include flex(center, center, 0, column);
                @include mont(600);
                list-style-type: none;
                color: #fff;
            }
    
            > .accordion-container {
                border-bottom: 1px solid #fff;
    
                > .mob-menu-accordion {
                    position: relative;
                    min-height: $accordionHeight;
                    cursor: pointer;

                    > div {
                        @include flex();
                    }
    
                    svg {
                        position: absolute;
                        right: 0;
                        top: 27.5px;
                        transition-duration: .5s;
                    }

                    ul {
                        width: 100%;
                        padding-bottom: $accordionHeight - $subAccordionHeight;

                        .mob-menu-accordion {
                            height: $subAccordionHeight;
                            width: 100%;
                        }
                    }

                    .menu-parent {
                        height: $accordionHeight;
                        align-items: center;
                    }
                }

                .panel {
                    flex-direction: column;
                }
            }
    
            .contact {
                height: $accordionHeight;
                width: 100%;
            }

            .socials {
                justify-content: center;
                margin-top: 50px;
    
                a {
                    &:nth-child(2) {
                        margin: 0 10px;
                    }
                }
            }

            .copyright {
                @include mont(300);
                text-align: center;
                color: #fff;
                padding: 25px 0;
            }
        }
    }
}

/* DESKTOP */

@media #{$laptop}, #{$desktop} {
    header {
        $desktopNavPaddingX: 72px;
        $desktopNavPaddingY: 20px;

        #nav {
            .inner-nav {
                height: $desktopNavHeight;
                padding: $desktopNavPaddingY $desktopNavPaddingX;
                padding-bottom: 0;

                .logo {
                    height: 100%;
                    margin-bottom: $desktopNavPaddingY;

                    img {
                        height: 100%;
                    }
                }

                .mob-nav {
                    display: none;
                }

                .desktop-nav {
                    @include flex(0, center, 0, column);
                    height: 100%;
                    width: 100%;
            
                    div:not(.button) {
                        @include flex(center, flex-end);
                        height: 50%;
                    }

                    a, p {
                        @include mont(600);
                    }
            
                    .top {
                        padding-top: math.div($desktopNavPaddingY, 10);

                        .socials {
                            a {
                                &:nth-child(2) {
                                    margin: 0 10px;
                                }
                            }
                        }

                        p {
                            margin-left: 30px;
                        }
            
                        .button {
                            margin-left: 20px;

                            .animated-button.inner-btn:after {
                                background: #fff;
                            }

                            .animated-button.inner-btn {
                                border: 2px solid $red;
                                background: $red;
                    
                                &:hover {
                                    &:link, :visited {
                                        color: $red;
                                    }
                    
                                }
                    
                                &:link, :visited {
                                    color: #fff;
                                }
                            }
                        }
                    }
            
                    .bottom {
                        align-items: flex-end !important;
                        flex-wrap: wrap;
            
                        li {
                            margin-left: 2.5%;
                            margin-right: 2.5%;
                            cursor: pointer;
                            list-style: none;
                            text-transform: uppercase;
            
                            a {
                                @include flex();
                                padding-bottom: $desktopNavPaddingY + math.div($desktopNavPaddingY, 10);
                            }

                            // .dropdown {
                            //     transform: translateY(0) !important;
                            // }

                            .rides {
                                @include flex(0, space-between);

                                .left {
                                    @include flex(center, 0, 0, column);
                                    width: 35%;

                                    .img-container {
                                        width: 320px;
                                        border: 5px solid #fff;

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    .button {
                                        margin-top: 40px;

                                        .animated-button.inner-btn {
                                            border: 2px solid $red;
                                            background: $red;
                                            width: 320px;
                                
                                            &:hover {
                                                border: 2px solid #fff;
                                
                                                &:link, :visited {
                                                    color: #fff;
                                                }
                                
                                            }

                                            &::after {
                                                background: $dblue;
                                            }
                                
                                            &:link, :visited {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }

                                .right {
                                    @include flex(0, 0, wrap);
                                    width: 65%;

                                    li {
                                        width: 50%;
                                        height: 80px;
                                    }
                                }
                            }
            
                            &:hover {
                                .dropdown {
                                    transform: translateY(0) !important;
                                    transition-delay: .1s;
                                }
                            }
                        }
            
                        .dropdown {
                            @include flex(0, 0, wrap);
                            background: $dblue;
                            position: absolute;
                            top: $desktopNavHeight;
                            left: 0;
                            width: 100%;
                            padding: 3.5% $bigDesktopPaddingX; 
                            z-index: -1;
                            transition-duration: .75s;
                            transform: translateY(-150%);
                            cursor: default;
                            box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .25);

                            li {
                                @include flex(center, center);
                                width: 33.3%;
                                height: 60px;
                                margin: 0;
                                padding: 0;
                                cursor: default;
                            }
                    
                            a {
                                @include flex(center, center);
                                padding: 0;
                                height: 60px;
                                color: #fff;
                            }
                        }
                    
                        .dropped {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
}