/* WHO */

section#who {
    @include flex(0, 0, 0, column);
    padding: 40px 0;

    .top {
        padding: 0 $bigMobPaddingX;
        p {
            margin: 20px 0;
        }

        h3 {
            font-weight: 900;
        }

        .animated-button.inner-btn {
            border: 2px solid #000;

            &:hover {
                border: 2px solid $dred;

                &:link, :visited {
                    color: #fff;
                }

            }

            &:link, :visited {
                color: #000;
            }
        }
    }

    .bottom {
        position: relative;
        padding: 0 $smallMobPaddingX;
        margin-top: 40px;

        picture {
            &:nth-child(1) img {
                position: absolute;
                top: 20%;
                z-index: -1;
            }

            &:nth-child(2) img {
                float: right;
            }
        }
    }

    /* LANDSCAPE MOBILE */

    @media #{$landscape-mobile} {
        flex-direction: column !important;

        .bottom {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 350px !important;
        }
    }

    /* TABLET */

    @media #{$portrait-tablet} {
        .top {
            padding: 0 $tabletPaddingX;
        }

        .bottom {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 400px;
        }
    }

    @media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
        flex-direction: row;
        justify-content: space-between;
        padding: 80px $tabletPaddingX;
        margin-top: 80px;
        width: 100%;

        > div {
            padding: 0 !important;
        }

        .top {
            width: 100%;
            margin-right: 50px;
        }

        .bottom {
            width: 375px;
            min-width: 375px;
            height: fit-content;
            margin-top: 20px;
        }
    }

    /* DESKTOP */

    @media #{$laptop}, #{$desktop} {
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 105px;
        padding-right: $bigDesktopPaddingX;

        > div {
            padding: 0 !important;
        }

        .top {
            width: 36.5vw;
            height: fit-content;
            padding-left: 50px !important;

            .button {
                margin-top: 70px;
            }
        }

        .bottom {
            width: 47.5vw;
            min-width: 375px;
            height: fit-content;
            margin-top: 20px;

            picture {
                &:nth-child(1) img {
                    width: 65%;
                }

                &:nth-child(2) img {
                    width: 50%;
                }
            }
        }
    }
}

/* SKYWHEEL */

section#img-card {
    .top {
        margin: 0 $smallMobPaddingX;
        padding: 40px $bigMobPaddingX - $smallMobPaddingX;
        margin-top: 20px;
        border-radius: 2px;
        border: 1px solid #EBEBEB;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);

        h3 {
            color: $red;
        }

        p {
            margin: 30px 0;
        }

        .button {
            padding-top: 40px;
        }

        .animated-button.inner-btn {
            border: 2px solid #000;

            &:hover {
                border: 2px solid $dred;

                &:link, :visited {
                    color: #fff;
                }

            }

            &:link, :visited {
                color: #000;
            }
        }
    }

    .bottom {
        padding: 0 $smallMobPaddingX;
        padding-bottom: 40px;

        img {
            width: 100%;
        }
    }

    /* LANDSCAPE MOBILE */

    @media #{$landscape-mobile} {
        @include flex(center, space-between);
        padding: 40px $smallMobPaddingX !important;

        > div {
            &.top {
                padding: 20px 10px;
            }
        }
    }

    /* TABLET */

    @media #{$portrait-tablet} {
        .top {
            padding: 80px $tabletPaddingX;
            margin: 0 $tabletPaddingX;
        }

        .bottom {
            padding: 0 $tabletPaddingX;
        }
    }

    @media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
        @include flex(center, space-between);
        padding: 40px $tabletPaddingX;

        > div {
            margin: 0 !important;
            width: 50%;
            
            &.bottom {
                padding: 0;
            }
        }
    }

    /* DESKTOP */

    @media #{$laptop}, #{$desktop} {
        padding: 80px $bigDesktopPaddingX;
        flex-direction: row-reverse;

        > div {
            &.top {
                padding: 100px;
                padding-left: 60px;
                width: 60%;

                .button {
                    margin-top: 170px;
                }
            }
        }
    }
}