main.who-we-are {
    /* HISTORY */

    section#history {
        padding: 50px $bigMobPaddingX;
        padding-bottom: 80px;
        margin: 40px 0;
        background-color: $dblue;
        width: 100vw;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='488.045' height='548.268' viewBox='0 0 488.045 548.268'%3E%3Cg id='Group_183' data-name='Group 183' opacity='0.91'%3E%3Cg id='Group_29' data-name='Group 29'%3E%3Ccircle id='Ellipse_15' data-name='Ellipse 15' cx='39.041' cy='39.041' r='39.041' transform='translate(204.994 207.405)' fill='%23101848'/%3E%3Ccircle id='Ellipse_16' data-name='Ellipse 16' cx='23.603' cy='23.603' r='23.603' transform='translate(220.319)' fill='%23101848'/%3E%3Ccircle id='Ellipse_17' data-name='Ellipse 17' cx='23.603' cy='23.603' r='23.603' transform='translate(323.519 26.24)' fill='%23101848'/%3E%3Ccircle id='Ellipse_18' data-name='Ellipse 18' cx='23.603' cy='23.603' r='23.603' transform='translate(403.095 96.731)' fill='%23101848'/%3E%3Ccircle id='Ellipse_19' data-name='Ellipse 19' cx='23.603' cy='23.603' r='23.603' transform='translate(440.839 195.89)' fill='%23101848'/%3E%3Ccircle id='Ellipse_20' data-name='Ellipse 20' cx='23.603' cy='23.603' r='23.603' transform='translate(428.149 301.389)' fill='%23101848'/%3E%3Ccircle id='Ellipse_21' data-name='Ellipse 21' cx='23.603' cy='23.603' r='23.603' transform='translate(367.838 388.888)' fill='%23101848'/%3E%3Ccircle id='Ellipse_22' data-name='Ellipse 22' cx='23.603' cy='23.603' r='23.603' transform='translate(273.857 438.386)' fill='%23101848'/%3E%3Ccircle id='Ellipse_23' data-name='Ellipse 23' cx='23.603' cy='23.603' r='23.603' transform='translate(167.588 438.528)' fill='%23101848'/%3E%3Ccircle id='Ellipse_24' data-name='Ellipse 24' cx='23.603' cy='23.603' r='23.603' transform='translate(73.436 389.252)' fill='%23101848'/%3E%3Ccircle id='Ellipse_25' data-name='Ellipse 25' cx='23.603' cy='23.603' r='23.603' transform='translate(12.916 301.925)' fill='%23101848'/%3E%3Ccircle id='Ellipse_26' data-name='Ellipse 26' cx='23.603' cy='23.603' r='23.603' transform='translate(0 196.278)' fill='%23101848'/%3E%3Ccircle id='Ellipse_27' data-name='Ellipse 27' cx='23.603' cy='23.603' r='23.603' transform='translate(37.672 96.731)' fill='%23101848'/%3E%3Ccircle id='Ellipse_28' data-name='Ellipse 28' cx='23.603' cy='23.603' r='23.603' transform='translate(117.18 26.24)' fill='%23101848'/%3E%3Crect id='Rectangle_38' data-name='Rectangle 38' width='5.947' height='222.843' transform='translate(241.005 23.603)' fill='%23101848'/%3E%3Crect id='Rectangle_39' data-name='Rectangle 39' width='221.99' height='5.947' transform='matrix(0.464, -0.886, 0.886, 0.464, 241.402, 245.066)' fill='%23101848'/%3E%3Crect id='Rectangle_40' data-name='Rectangle 40' width='221.969' height='5.947' transform='translate(242.345 244) rotate(-34.622)' fill='%23101848'/%3E%3Crect id='Rectangle_41' data-name='Rectangle 41' width='222.05' height='5.947' transform='translate(243.673 243.495) rotate(-6.972)' fill='%23101848'/%3E%3Crect id='Rectangle_42' data-name='Rectangle 42' width='5.947' height='222.072' transform='translate(242.983 249.227) rotate(-69.287)' fill='%23101848'/%3E%3Crect id='Rectangle_43' data-name='Rectangle 43' width='5.947' height='222.036' transform='matrix(0.748, -0.664, 0.664, 0.748, 241.811, 248.42)' fill='%23101848'/%3E%3Crect id='Rectangle_44' data-name='Rectangle 44' width='5.947' height='222.065' transform='translate(241.148 247.162) rotate(-13.921)' fill='%23101848'/%3E%3Crect id='Rectangle_45' data-name='Rectangle 45' width='222.064' height='5.947' transform='translate(188.3 461.423) rotate(-76.232)' fill='%23101848'/%3E%3Crect id='Rectangle_46' data-name='Rectangle 46' width='222.035' height='5.947' transform='matrix(0.662, -0.749, 0.749, 0.662, 94.811, 410.887)' fill='%23101848'/%3E%3Crect id='Rectangle_47' data-name='Rectangle 47' width='222.073' height='5.947' transform='matrix(0.934, -0.356, 0.356, 0.934, 35.46, 322.749)' fill='%23101848'/%3E%3Crect id='Rectangle_48' data-name='Rectangle 48' width='5.947' height='222.026' transform='matrix(0.12, -0.993, 0.993, 0.12, 23.247, 222.834)' fill='%23101848'/%3E%3Crect id='Rectangle_49' data-name='Rectangle 49' width='5.947' height='222.048' transform='translate(59.586 122.782) rotate(-55.393)' fill='%23101848'/%3E%3Crect id='Rectangle_50' data-name='Rectangle 50' width='5.947' height='222.066' transform='translate(138.151 51.226) rotate(-27.707)' fill='%23101848'/%3E%3Cpath id='Path_128' data-name='Path 128' d='M241.539,475.419a228.216,228.216,0,0,1-45.657-4.6,225.295,225.295,0,0,1-81.017-34.093,227.234,227.234,0,0,1-82.081-99.676,225.447,225.447,0,0,1-13.2-42.532,228.737,228.737,0,0,1,0-91.312,225.322,225.322,0,0,1,34.093-81.019,227.206,227.206,0,0,1,99.676-82.079,225.409,225.409,0,0,1,42.532-13.2,228.737,228.737,0,0,1,91.312,0,225.358,225.358,0,0,1,81.019,34.091,227.195,227.195,0,0,1,82.079,99.677,225.41,225.41,0,0,1,13.2,42.532,228.739,228.739,0,0,1,0,91.312A225.332,225.332,0,0,1,429.4,375.533a227.223,227.223,0,0,1-99.677,82.081,225.415,225.415,0,0,1-42.532,13.2A228.211,228.211,0,0,1,241.539,475.419Zm0-445.687c-120.827,0-219.126,98.3-219.126,219.126s98.3,219.126,219.126,219.126,219.125-98.3,219.125-219.126S362.364,29.733,241.539,29.733Z' transform='translate(2.497 -2.413)' fill='%23101848'/%3E%3Cpath id='Path_129' data-name='Path 129' d='M67.143,452.817H38.721l172.214-295.81,24.706,8.951Z' transform='translate(19.745 95.45)' fill='%23101848'/%3E%3Cpath id='Path_130' data-name='Path 130' d='M305.9,452.479,138.41,165.958l24.706-8.951L335.33,452.817Z' transform='translate(92.169 95.45)' fill='%23101848'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: $smallMobPaddingX bottom;

        p, h3, h4 {
            color: #fff;
        }

        h3 {
            padding-top: 7.5px;
            padding-bottom: 30px; 
        }
    }

    /* OUR VALUES */

    section#img-card {
        @include flex(0, 0, 0, column-reverse);

        .top {
            margin-top: 0 !important;
            margin-bottom: 40px !important;
            background: $red;
            border-color: $red;

            h2, p, li {
                color: #fff !important;
            }
        }

        .bottom {
            padding-bottom: 0 !important;
            padding-top: 40px !important;
        }
    }

    /* THE TEAM */

    section#team {
        padding: 40px $bigMobPaddingX;

        .members {
            padding: 0 10px;
            margin-top: 30px;

            .member {
                margin-bottom: 40px;

                svg, image, img {
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }

                p {
                    @include mont(400, 20px);
                    margin-bottom: 5px;

                    em {
                        color: #898989;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

/* LANDSCAPE MOBILE */

@media #{$landscape-mobile} {
    main.who-we-are {
        /* HISTORY */

        section#history {
            p {
                column-count: 1 !important;
            }
        }
    }
}

/* TABLET */

@media #{$portrait-tablet} {
    main.who-we-are {
        /* HISTORY */

        section#history {
            padding: 80px $tabletPaddingX;
            background-position: right bottom;
        }

        /* THE TEAM */

        section#team {
            padding: 40px $tabletPaddingX;

            .members {
                padding: 0 30px;
                margin-top: 30px;
            }
        }
    }
}

@media #{$landscape-tablet}, #{$laptop}, #{$desktop} {
    main.who-we-are {
        /* HISTORY */

        section#history {
            padding: 100px $tabletPaddingX;
            background-position: right bottom;

            p {
                column-count: 2;
                column-gap: 50px;
            }
        }

        /* OUR VALUES */

        section#img-card {
            flex-direction: row-reverse;

            .bottom {
                padding: 0 !important;
            }

            .top {
                margin: 0 !important;
            }
        }

        /* THE TEAM */

        section#team {
            padding: 40px $tabletPaddingX;

            .members {
                @include flex(0, 0, wrap);
                padding: 0;
                margin-top: 40px;
                width: 105%;
                margin-left: -2.5%;

                .member {
                    width: 33.3%;
                    padding: 0 2.5%;
                }
            }
        }
    }
}

/* DESKTOP */

@media #{$desktop} {
    main.who-we-are {
        /* WHO */

        section#who {
            padding: 80px $bigDesktopPaddingX !important;
            flex-direction: row;

            .top {
                padding: 0 !important;
                margin-right: 200px;
            }

            .bottom {
                width: 65%;
            }
        }

        /* HISTORY */
        
        section#history {
            padding: 100px $bigDesktopPaddingX;
            margin: 80px 0;
            background-position: 92.5% bottom;
            min-height: 600px;

            h4 {
                font-size: 52px;
            }

            h3 {
                padding-bottom: 50px;
            }

            p {
                column-gap: 150px;
            }
        }

        /* OUR VALUES */

        section#img-card {
            > div {
                width: 50%;
            }

            .top {
                padding: 100px;
            }
        }

        /* THE TEAM */

        section#team {
            padding: 80px $bigDesktopPaddingX;
            padding-bottom: 160px;

            .members {
                .member {
                    width: 33.3%;
                    padding: 0 2.5%;
                }
            }
        }
    }
}