<main class="blog-post article-page">

    <section id="info" class="wide">
        <article>
            <div id="article">
                <div class="title">
                    <a href="/blog"><p>< Back to Blog Posts</p></a>
                    <h1 class="reveal-left">{{ title }}</h1>
                    {{ blog_categories }}
                        <p class="reveal-right category"><em>{{ title }}</em></p>
                    {{ /blog_categories }}
                    <p class="reveal-right date">Posted on: {{ post_date }}</p>
                </div>

                {{ article }}
                    {{ content }}
                    <picture>
                        <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                    
                        <img class="reveal-left" loading="lazy" src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                    </picture>
                {{ /article }}

                {{ if author }}
                    <p class="reveal-left author">Written by: {{ author }}</p>
                {{ endif }}

                <div class="share flex">
                    <p>Share this page?</p>     
                    
                    <div class="socials">
                        {{ if details:facebook_link }}
                            <a href="{{ details:facebook_link }}" target="_blank">
                                <svg id="Component_23_1" data-name="Component 23 – 1" xmlns="http://www.w3.org/2000/svg" width="29.601" height="29.601" viewBox="0 0 29.601 29.601">
                                    <rect class="bg" id="Rectangle_197" data-name="Rectangle 197" width="29.601" height="29.601" rx="7.915" fill="#eaeaea"/>
                                    <path class="inr" id="Path_135" data-name="Path 135" d="M288.505,244.2h-2.542v9.062H282.2V244.2h-1.791V241H282.2v-2.071a3.532,3.532,0,0,1,3.8-3.8l2.79.01v3.108h-2.026a.766.766,0,0,0-.8.872V241h2.87Z" transform="translate(-269.82 -229.262)" fill="#646464"/>
                                </svg>                              
                            </a>
                        {{ endif }}
                        <!--
                        {{ if details:instagram_link }}
                            <a name="Facebook logo and link" href="{{ details:instagram_link }}" target="_blank">
                                <svg id="Group_152" data-name="Group 152" xmlns="http://www.w3.org/2000/svg" width="41.356" height="41.356" viewBox="0 0 41.356 41.356">
                                    <rect class="bg" id="Rectangle_197" data-name="Rectangle 197" width="41.356" height="41.356" rx="7.915" transform="translate(0 0)" fill="#eaeaea"/>
                                    <path class="inr" id="Path_135" data-name="Path 135" d="M291.722,247.8H288.17v12.66h-5.263V247.8h-2.5V243.33h2.5v-2.894c0-2.072.985-5.311,5.311-5.311l3.9.015v4.343h-2.831a1.071,1.071,0,0,0-1.115,1.219v2.629h4.01Z" transform="translate(-265.615 -226.934)" fill="#646464"/>
                                </svg>                      
                            </a>
                        {{ endif }}
                        -->
                        {{ if details:linkedin_link }}
                            <a href="{{ details:linkedin_link }}" target="_blank">
                                <svg id="Component_22_1" data-name="Component 22 – 1" xmlns="http://www.w3.org/2000/svg" width="28.488" height="28.488" viewBox="0 0 28.488 28.488">
                                    <rect class="bg" id="Rectangle_172" data-name="Rectangle 172" width="28.488" height="28.488" rx="7.915" fill="#eaeaea"/>
                                    <rect class="inr" id="Rectangle_173" data-name="Rectangle 173" width="2.969" height="9.607" transform="translate(7.672 11.422)" fill="#646464"/>
                                    <path class="inr" id="Path_39" data-name="Path 39" d="M405.687,241.223h-.018a1.549,1.549,0,1,1,.018,0Z" transform="translate(-396.584 -231.691)" fill="#646464"/>
                                    <path class="inr" id="Path_40" data-name="Path 40" d="M431.389,264.261H428.4v-5.474a1.859,1.859,0,0,0-3.59-.795,2.229,2.229,0,0,0-.107.795v5.474h-2.985s.043-8.746,0-9.665H424.7l-.021,1.285a3.245,3.245,0,0,1,2.958-1.651c2.144,0,3.751,1.4,3.751,4.411Z" transform="translate(-409.217 -243.23)" fill="#646464"/>
                                </svg>                              
                            </a>
                        {{ endif }}
                        {{ if details:twitter_link }}
                            <a href="{{ details:twitter_link }}" target="_blank">
                                <svg id="Component_21_1" data-name="Component 21 – 1" xmlns="http://www.w3.org/2000/svg" width="28.488" height="28.488" viewBox="0 0 28.488 28.488">
                                    <g id="Component_15_5" data-name="Component 15 – 5">
                                    <rect class="bg" id="Rectangle_174" data-name="Rectangle 174" width="28.488" height="28.488" rx="7.915" fill="#eaeaea"/>
                                    </g>
                                    <path class="inr" id="Path_41" data-name="Path 41" d="M551.326,243.191a8.033,8.033,0,0,1-.839.932c-.67.666-.706.738-.706,1.3a12.478,12.478,0,0,1-.814,3.631,10.523,10.523,0,0,1-3.988,4.7,10.107,10.107,0,0,1-7.855.9,9.179,9.179,0,0,1-2.311-1.066,3.534,3.534,0,0,1,.983-.1,6.7,6.7,0,0,0,3.21-.895l.646-.388-.743-.254a3.621,3.621,0,0,1-2.239-1.986c-.073-.255-.048-.267.622-.267l.7-.01-.587-.279a3.871,3.871,0,0,1-1.64-1.55,4.342,4.342,0,0,1-.431-1.623,1.392,1.392,0,0,1,.563.133c.826.3.934.23.455-.279a3.5,3.5,0,0,1-.743-3.584l.2-.581.791.787a9.738,9.738,0,0,0,5.7,2.808l.6.072-.036-.593a3.468,3.468,0,0,1,2.335-3.486,4.089,4.089,0,0,1,2.1-.049,4.89,4.89,0,0,1,1.017.533l.586.4.646-.206a6.528,6.528,0,0,0,1.054-.412c.2-.108.383-.168.383-.133a3.533,3.533,0,0,1-.814,1.3c-.5.545-.36.593.658.23C551.434,242.961,551.447,242.961,551.326,243.191Z" transform="translate(-528.91 -233.959)" fill="#646464"/>
                                </svg>                              
                            </a>
                        {{ endif }}
                    </div>
                </div>
            </div>
        </article>

        <aside>
            <div class="favourite">
                <h3 class="reveal-right">Crowd Favourite</h3>

                {{ header:featured_ride }}
                    <div class="img-container">
                        <picture>
                            <source srcset="{{ glide:image width='100px' format='webp' quality='100' }}" type="image/webp">
                        
                            <img src="{{ glide:image width='100px' format='webp' quality='100' }}" alt="{{ image:alt }}">
                        </picture>
                    </div>

                    <div>
                        <h1 class="reveal-left">{{ button_text }}</h1>
                        <h3 class="reveal-right subtitle">{{ subtitle }}</h3>

                        <div class="button"> 
                            <a href="{{ button_link }}" class="inner-btn animated-button">MORE INFO</a> 
                        </div>
                    </div>
                {{ /header:featured_ride }}
            </div>

            <div class="sticky">
                {{ if events:our_events }}
                    <div class="event reveal-bottom">
                        {{ events:our_events }}
                            <h3>{{ title }}</h3>
                            <p>{{ info }}</p>
                            <a href="{{ button_link }}" class="button"> 
                                <button id="link-to-events-page" class="shimmer">{{ button_text }}</button> 
                            </a>
                        {{ /events:our_events }}
                    </div>
                {{ endif }}
    
                <div class="articles reveal-bottom">
                    <h3>More Articles:</h3>

                    {{ collection:blog_posts limit="2" }}
                        <a href="/blog/{{ slug }}">
                            <div class="more-article flex">
                                <picture>
                                    <source srcset="{{ glide:featured_img width='100px' format='webp' quality='100' }}" type="image/webp">
                                
                                    <img src="{{ glide:featured_img width='100px' format='webp' quality='100' }}" alt="{{ featured_img:alt }}">
                                </picture>
                                
                                <div class="flex">
                                    <p>{{ title }}</p>

                                    <p class="read"><em>Read >></em></p>
                                </div>
                            </div>
                        </a>
                    {{ /collection:blog_posts }}
                </div>
            </div>
        </aside>
    </section>
</main>